Repository foofork/riptidecrawler: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, refactoring, Core Crates, Extraction & Processing, Browser Abstraction, API & CLI, Infrastructure, WASM Module

feat(cli): Wire up existing code and add critical commands
  crates/riptide-cli/Cargo.toml
  crates/riptide-cli/src/api_client.rs
  crates/riptide-cli/src/api_wrapper.rs
  crates/riptide-cli/src/client.rs
  crates/riptide-cli/src/commands/crawl.rs
  crates/riptide-cli/src/commands/doctor.rs
  crates/riptide-cli/src/commands/mod.rs
  crates/riptide-cli/src/commands/pdf.rs
  crates/riptide-cli/src/commands/session_api.rs
  crates/riptide-cli/src/commands/strategies.rs
  crates/riptide-cli/src/execution_mode.rs
  crates/riptide-cli/src/lib.rs
  crates/riptide-cli/src/main.rs
  crates/riptide-cli/src/pdf_impl.rs
  crates/riptide-cli/src/validation_adapter.rs
  crates/riptide-cli/tests/session_api_validation_tests.rs
  docs/CLI_CAPABILITY_GAP_ANALYSIS.md
Due: unittests, refactoring, API & CLI

fix(cli): Add crawl command to main.rs Commands enum
  crates/riptide-cli/src/main.rs
Due: unittests, refactoring, API & CLI

fix: Improve content extraction completeness from 15% to 70-80%
  crates/riptide-extraction/src/extraction_strategies.rs
  crates/riptide-extraction/src/native_parser/extractors/content.rs
  crates/riptide-extraction/src/native_parser/parser.rs
  crates/riptide-facade/src/facades/extractor.rs
Due: unittests, refactoring, Extraction & Processing, API & CLI

fix: Add strategy selection to extract handler with raw HTML support
  crates/riptide-api/src/handlers/extract.rs
  crates/riptide-api/src/tests/mod.rs
  crates/riptide-api/tests/enhanced_pipeline_tests.rs
  crates/riptide-facade/src/facades/browser.rs
  crates/riptide-facade/src/lib.rs
  crates/riptide-facade/tests/scraper_facade_integration.rs
  crates/riptide-types/src/http_types.rs
  scripts/quick-test.sh
Due: unittests, refactoring, Core Crates, API & CLI

feat: Add comprehensive testing infrastructure and type system improvements
  README.md
  crates/riptide-api/src/handlers/extract.rs
  crates/riptide-api/src/tests/strategy_selection_tests.rs
  crates/riptide-cli/src/api_wrapper.rs
  crates/riptide-cli/src/commands/crawl.rs
  crates/riptide-cli/src/commands/pdf.rs
  crates/riptide-cli/src/commands/session_api.rs
  crates/riptide-cli/src/commands/strategies.rs
  crates/riptide-cli/src/main.rs
  crates/riptide-cli/src/pdf_impl.rs
  crates/riptide-cli/tests/session_api_validation_tests.rs
  crates/riptide-extraction/src/chunking/fixed.rs
  crates/riptide-extraction/src/native_parser/extractors/content.rs
  crates/riptide-extraction/src/native_parser/tests.rs
  crates/riptide-extraction/src/strategies/mod.rs
  crates/riptide-extraction/tests/comprehensive_extraction_tests.rs
  crates/riptide-facade/src/facades/extractor.rs
  crates/riptide-facade/src/facades/mod.rs
  crates/riptide-facade/src/tests/mod.rs
  crates/riptide-facade/src/tests/strategy_integration_tests.rs
  crates/riptide-facade/tests/scraper_facade_integration.rs
  crates/riptide-types/src/extraction_method.rs
  crates/riptide-types/src/lib.rs
  docs/00-getting-started/QUICK_START.md
  docs/TESTING_GUIDE.md
  docs/deployment/BINARY_DISTRIBUTION.md
  infra/docker/Dockerfile.optimized
  scripts/install.sh
  scripts/test_extraction_comprehensive.sh
  tests/component/extraction/comprehensive_extraction_tests.rs
  tests/comprehensive_test_suite.sh
  tests/test_strategy_selection.rs
  tests/test_strategy_validation.sh
Due: unittests, refactoring, Core Crates, Extraction & Processing, API & CLI

feat: Remove deprecated riptide-search crate
  Cargo.lock
  Cargo.toml
  crates/riptide-api/Cargo.toml
  crates/riptide-api/src/context.rs
  crates/riptide-api/src/handlers/deepsearch.rs
  crates/riptide-api/src/handlers/mod.rs
  crates/riptide-api/src/handlers/search.rs
  crates/riptide-api/src/handlers/stubs.rs
  crates/riptide-api/src/main.rs
  crates/riptide-api/src/state_new.rs
  crates/riptide-api/src/tests/strategy_selection_tests.rs
  crates/riptide-api/tests/test_helpers.rs
  crates/riptide-facade/Cargo.toml
  crates/riptide-facade/src/facades/mod.rs
  crates/riptide-facade/src/facades/search.rs
  crates/riptide-facade/src/lib.rs
  crates/riptide-facade/src/tests/strategy_integration_tests.rs
  crates/riptide-reliability/src/http_client.rs
  crates/riptide-search/Cargo.toml
  crates/riptide-search/README.md
  crates/riptide-search/src/circuit_breaker.rs
  crates/riptide-search/src/lib.rs
  crates/riptide-search/src/none_provider.rs
  crates/riptide-search/src/providers.rs
  crates/riptide-search/tests/advanced_search_config_test.rs
  crates/riptide-search/tests/integration_tests.rs
  crates/riptide-search/tests/none_provider_test.rs
  crates/riptide-search/tests/provider_selection_test.rs
  crates/riptide-search/tests/riptide_search_circuit_breaker_tests.rs
  crates/riptide-search/tests/riptide_search_integration_tests.rs
  crates/riptide-search/tests/riptide_search_providers_tests.rs
  crates/riptide-search/tests/search_provider_event_integration_test.rs
  crates/riptide-search/tests/search_provider_integration_test.rs
  crates/riptide-search/tests/search_provider_integration_test2.rs
  crates/riptide-search/tests/search_provider_test.rs
  crates/riptide-search/tests/search_provider_unit_test.rs
  crates/riptide-search/tests/serper_provider_test.rs
  docs/analysis/search_removal_analysis.md
  docs/reviews/search_removal_review.md
  docs/verification/search_removal_verification.md
Due: unittests, refactoring, Extraction & Processing, API & CLI, Infrastructure

feat: Move riptide-schemas to legacy (OSS cleanup)
  crates/legacy/README.md
  crates/riptide-api/src/telemetry_config.rs
  crates/riptide-facade/src/facades/browser.rs
  crates/riptide-facade/tests/common/mod.rs
  crates/riptide-facade/tests/crawl_facade_integration_tests.rs
  crates/riptide-schemas/Cargo.toml
  crates/riptide-schemas/README.md
  crates/riptide-schemas/src/events.rs
  crates/riptide-schemas/src/extraction.rs
  crates/riptide-schemas/src/formatters.rs
  crates/riptide-schemas/src/lib.rs
  crates/riptide-schemas/tests/integration_tests.rs
  crates/riptide-types/src/extraction_method.rs
Due: unittests, refactoring, Core Crates, API & CLI

feat: Archive OSS repository with v0.3.0-archive release
  README.md
  docs/ARCHIVAL_INSTRUCTIONS.md
Due: none

docs: Clean up README by removing roadmap and rough edges
  README.md
Due: none

readme update
  README.md
Due: none

Path conditions:
  unittests: any of: crates/, wasm/, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  refactoring: any of: crates/, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  Core Crates: any of: crates/riptide-types/**, crates/riptide-spider/**, crates/riptide-fetch/**, crates/riptide-security/**, crates/riptide-monitoring/**, crates/riptide-events/**, crates/riptide-pool/**, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  Extraction & Processing: any of: crates/riptide-extraction/**, crates/riptide-search/**, crates/riptide-intelligence/**, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  Browser Abstraction: any of: crates/riptide-browser/**, crates/riptide-browser-abstraction/**, crates/riptide-headless/**, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  API & CLI: any of: crates/riptide-api/**, crates/riptide-cli/**, crates/riptide-facade/**, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  Infrastructure: any of: crates/riptide-config/**, crates/riptide-cache/**, crates/riptide-reliability/**, crates/riptide-persistence/**, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  WASM Module: any of: wasm/riptide-extractor-wasm/**, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
