Repository foofork/riptidecrawler: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, refactoring, Core Crates, Extraction & Processing, Browser Abstraction, API & CLI, Infrastructure, WASM Module

feat(openapi): complete Schemathesis validation fixes
  docs/api/openapi.yaml
  scripts/complete_openapi_fixes.py
  scripts/fix_openapi_final.py
Due: none

fix(tests): resolve test failures and disable OpenAPI validation
  .github/workflows/api-validation.yml
  crates/riptide-api/tests/config_env_tests.rs
  crates/riptide-streaming/src/backpressure.rs
  crates/riptide-streaming/src/reports.rs
Due: unittests, refactoring, API & CLI

fix(ci): only skip OpenAPI yaml validation, keep rest of workflow
  .github/workflows/api-validation.yml
Due: none

fix(tests): correct tokio timeout syntax in test_stream_registration
  crates/riptide-streaming/src/backpressure.rs
Due: unittests, refactoring

fix(tests): increase backpressure timeouts and skip Redis-dependent tests
  crates/riptide-api/tests/error_recovery.rs
  crates/riptide-streaming/src/backpressure.rs
Due: unittests, refactoring, API & CLI

fix(openapi): correct content-type for health endpoints
  docs/api/openapi.yaml
Due: none

fix(tests): resolve AppState import scope issues in integration tests
  crates/riptide-api/tests/integration_tests.rs
Due: unittests, refactoring, API & CLI

fix(ci): update OpenAPI path to docs/02-api-reference/openapi.yaml
  .github/workflows/api-validation.yml
Due: none

fix(tests): resolve backpressure deadlock and improve test infrastructure
  crates/riptide-api/src/state.rs
  crates/riptide-cache/src/manager.rs
  crates/riptide-streaming/src/backpressure.rs
  docs/02-api-reference/openapi.yaml
  temp.md
Due: unittests, refactoring, API & CLI, Infrastructure

fix(workers): resolve test failures in metrics and scheduler
  crates/riptide-workers/src/metrics.rs
  crates/riptide-workers/src/scheduler.rs
Due: unittests, refactoring

ci: add Redis service for integration tests
  .github/workflows/ci.yml
Due: none

429s to openapi
  docs/02-api-reference/openapi.yaml
Due: none

fix: standardize error responses and improve API reliability
  crates/riptide-api/src/handlers/extract.rs
  crates/riptide-api/src/handlers/search.rs
  crates/riptide-api/src/middleware/rate_limit.rs
  docs/02-api-reference/openapi.yaml
  docs/all-fixes-summary.md
Due: unittests, refactoring, API & CLI

fix: resolve remaining Schemathesis validation failures (~200 issues)
  .env.example
  Cargo.lock
  crates/riptide-api/Cargo.toml
  crates/riptide-api/src/handlers/search.rs
  crates/riptide-api/src/main.rs
  crates/riptide-api/src/middleware/mod.rs
  crates/riptide-api/src/middleware/request_validation.rs
  crates/riptide-api/src/state.rs
  crates/riptide-api/src/tests/middleware_validation_tests.rs
  crates/riptide-api/src/tests/mod.rs
  crates/riptide-api/tests/fixtures/README.md
  crates/riptide-api/tests/fixtures/mod.rs
  crates/riptide-api/tests/fixtures/sessions.rs
  crates/riptide-api/tests/fixtures/tables.rs
  crates/riptide-api/tests/fixtures/test_data.rs
  docs/02-api-reference/openapi.yaml
  docs/configuration/search-provider-setup.md
Due: unittests, refactoring, API & CLI

fix: add clippy allow for large Result types in request validation
  crates/riptide-api/src/middleware/request_validation.rs
Due: unittests, refactoring, API & CLI

fix: resolve Schemathesis validation failures and standardize API responses
  crates/riptide-api/docs/deepsearch-validation-analysis.md
  crates/riptide-api/src/handlers/stealth.rs
  crates/riptide-api/src/handlers/utils.rs
  crates/riptide-api/src/middleware/request_validation.rs
  docs/02-api-reference/openapi.yaml
  docs/analysis/QUICK_REFERENCE.md
  docs/analysis/schemathesis-failure-analysis.md
  docs/fixes/FINAL-STATUS.md
  docs/fixes/schemathesis-fixes-summary.md
Due: unittests, refactoring, API & CLI

fix(tests): add missing routes and mark dependency-heavy tests as ignored
  crates/riptide-api/tests/integration_tests.rs
  crates/riptide-api/tests/test_helpers.rs
Due: unittests, refactoring, API & CLI

fix(tests): mark PDF integration tests as ignored
  crates/riptide-api/tests/pdf_integration_tests.rs
Due: unittests, refactoring, API & CLI

revert: remove #[ignore] annotations from integration tests
  crates/riptide-api/tests/integration_tests.rs
  crates/riptide-api/tests/pdf_integration_tests.rs
Due: unittests, refactoring, API & CLI

fix(docker): remove invalid --profile flag from docker build commands
  Makefile
Due: none

docs: add project roadmap with playground update priority
  docs/ROADMAP.md
Due: none

fix(docker): replace CI profile with release profile for cargo-chef compatibility
  Dockerfile
Due: none

fix(docker): resolve Chrome 128+ crashpad handler database requirement
  .env.example
  crates/riptide-browser/src/launcher/mod.rs
  docker-compose.standalone.yml
  docs/CHROME_OPTIONAL_TEST_RESULTS.md
  docs/DEPLOYMENT_GUIDE.md
  docs/deployment/CHROME_CRASHPAD_SOLUTION.md
  infra/docker/Dockerfile.headless
Due: unittests, refactoring, Browser Abstraction

feat(api): implement Chrome-optional architecture with proper empty string handling
  crates/riptide-api/src/handlers/browser.rs
  crates/riptide-api/src/health.rs
  crates/riptide-api/src/resource_manager/mod.rs
  crates/riptide-api/src/state.rs
  infra/docker/Dockerfile.api
Due: unittests, refactoring, API & CLI

feat(api): complete Chrome-optional architecture with comprehensive Option<> handling
  .claude/settings.json
  .github/workflows/metrics.yml
  .gitignore
  Dockerfile
  Makefile
  README.md
  crates/riptide-api/src/handlers/resources.rs
  crates/riptide-api/src/handlers/stealth.rs
Due: unittests, refactoring, API & CLI

refactor(docker): consolidate to 2 compose files with clear UX
  Makefile
  docker-compose.gateway.yml
  docker-compose.lite.yml
  docker-compose.swagger.yml
  docker-compose.yml
Due: none

docs: update deployment guide and README for simplified docker-compose structure
  README.md
  docs/DEPLOYMENT_GUIDE.md
Due: none

docs: complete README deployment section update
  README.md
Due: none

docs: remove outdated Production/Development terminology from README
  README.md
Due: none

chore: add comprehensive .dockerignore for optimized Docker builds
  .dockerignore
Due: none

feat(config): simplify Docker Compose configuration with smart defaults
  .env.example
  docker-compose.lite.yml
  docker-compose.yml
Due: none

feat(types): add #[serde(default)] to CrawlOptions for flexible API requests
  crates/riptide-types/src/config.rs
Due: unittests, refactoring, Core Crates

restored healthz and added required curl dependency
  infra/docker/Dockerfile.api
Due: none

feat: complete hybrid WASM+Native parser with observability and fixes
  crates/riptide-api/src/handlers/pdf.rs
  crates/riptide-api/src/handlers/render/extraction.rs
  crates/riptide-api/src/pipeline.rs
  crates/riptide-api/src/pipeline_enhanced.rs
  crates/riptide-api/src/reliability_integration.rs
  docs/BUILD-FIXES-SUMMARY.md
  docs/ROADMAP.md
  docs/deployment-completion-summary.md
Due: unittests, refactoring, API & CLI

feat(sdk): modernize Python SDK with builder pattern, formatters, and comprehensive tests
  sdk/python/MODERNIZATION_SUMMARY.md
  sdk/python/QUICK_START.md
  sdk/python/examples/builder_example.py
  sdk/python/examples/formatters_example.py
  sdk/python/riptide_sdk/__init__.py
  sdk/python/riptide_sdk/builder.py
  sdk/python/riptide_sdk/client.py
  sdk/python/riptide_sdk/exceptions.py
  sdk/python/riptide_sdk/formatters.py
  sdk/python/tests/__init__.py
  sdk/python/tests/conftest.py
  sdk/python/tests/integration/__init__.py
  sdk/python/tests/integration/test_api_workflows.py
  sdk/python/tests/performance/__init__.py
  sdk/python/tests/performance/test_load.py
  sdk/python/tests/pytest.ini
  sdk/python/tests/requirements-dev.txt
  sdk/python/tests/unit/__init__.py
  sdk/python/tests/unit/test_builder.py
  sdk/python/tests/unit/test_client.py
  sdk/python/tests/unit/test_exceptions.py
  sdk/python/tests/unit/test_formatters.py
  sdk/python/tests/unit/test_streaming.py
Due: none

chore: add Python test artifacts to gitignore
  .gitignore
Due: none

feat(python-sdk): Release v0.2.0 with 84% API coverage and P0/P1/P2 features
  sdk/python/API_COVERAGE_AUDIT.md
  sdk/python/EXTRACT_API.md
  sdk/python/FINAL_COVERAGE_REPORT.md
  sdk/python/PDF_API_SUMMARY.md
  sdk/python/README.md
  sdk/python/REMAINING_COVERAGE.md
  sdk/python/WEBSOCKET_IMPLEMENTATION_SUMMARY.md
  sdk/python/WORKERS_API_IMPLEMENTATION_SUMMARY.md
  sdk/python/WORKERS_API_QUICK_REFERENCE.md
  sdk/python/docs/BROWSER_API.md
  sdk/python/docs/BROWSER_IMPLEMENTATION_SUMMARY.md
  sdk/python/docs/SEARCH_API.md
  sdk/python/docs/WEBSOCKET_STREAMING.md
  sdk/python/docs/WORKERS_API.md
  sdk/python/examples/browser_example.py
  sdk/python/examples/extract_example.py
  sdk/python/examples/pdf_example.py
  sdk/python/examples/search_example.py
  sdk/python/examples/sessions_example.py
  sdk/python/examples/spider_example.py
  sdk/python/examples/websocket_streaming_example.py
  sdk/python/examples/workers_example.py
  sdk/python/requirements.txt
  sdk/python/riptide_sdk/__init__.py
  sdk/python/riptide_sdk/client.py
  sdk/python/riptide_sdk/endpoints/__init__.py
  sdk/python/riptide_sdk/endpoints/browser.py
  sdk/python/riptide_sdk/endpoints/extract.py
  sdk/python/riptide_sdk/endpoints/pdf.py
  sdk/python/riptide_sdk/endpoints/search.py
  sdk/python/riptide_sdk/endpoints/sessions.py
  sdk/python/riptide_sdk/endpoints/spider.py
  sdk/python/riptide_sdk/endpoints/streaming.py
  sdk/python/riptide_sdk/endpoints/workers.py
  sdk/python/riptide_sdk/models.py
  sdk/python/tests/test_search_api.py
  sdk/python/tests/test_websocket_streaming.py
Due: none

Path conditions:
  unittests: any of: crates/, wasm/, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  refactoring: any of: crates/, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  Core Crates: any of: crates/riptide-types/**, crates/riptide-spider/**, crates/riptide-fetch/**, crates/riptide-security/**, crates/riptide-monitoring/**, crates/riptide-events/**, crates/riptide-pool/**, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  Extraction & Processing: any of: crates/riptide-extraction/**, crates/riptide-search/**, crates/riptide-intelligence/**, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  Browser Abstraction: any of: crates/riptide-browser/**, crates/riptide-browser-abstraction/**, crates/riptide-headless/**, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  API & CLI: any of: crates/riptide-api/**, crates/riptide-cli/**, crates/riptide-facade/**, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  Infrastructure: any of: crates/riptide-config/**, crates/riptide-cache/**, crates/riptide-reliability/**, crates/riptide-persistence/**, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  WASM Module: any of: wasm/riptide-extractor-wasm/**, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
