Repository foofork/riptidecrawler: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, refactoring, Core Crates, Extraction & Processing, Browser Abstraction, API & CLI, Infrastructure, WASM Module

.codecov.yml:

# Codecov Configuration for RipTide EventMesh
# cargo-llvm-cov unified coverage across 24 workspace crates
# Coverage percentage gates removed - reporting only

coverage:
  precision: 2
  round: down
  range: "0...100"

  status:
    project:
      default:
        target: auto
        threshold: 100%
        base: auto
        if_ci_failed: ignore
        informational: true

    patch:
      default:
        target: auto
        threshold: 100%
        base: auto
        if_ci_failed: ignore
        informational: true

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  unittests:
    carryforward: true
    paths:
      - crates/
      - wasm/

  refactoring:
    carryforward: true
    paths:
      - crates/

ignore:
  - "tests/"
  - "xtask/"
  - "examples/"
  - "benches/"
  - "**/tests.rs"
  - "**/test_*.rs"
  - "**/*_test.rs"

# Coverage thresholds per component - informational only (no gates)
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true

  individual_components:
    - component_id: core
      name: Core Crates
      paths:
        - crates/riptide-types/**
        - crates/riptide-spider/**
        - crates/riptide-fetch/**
        - crates/riptide-security/**
        - crates/riptide-monitoring/**
        - crates/riptide-events/**
        - crates/riptide-pool/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: extraction
      name: Extraction & Processing
      paths:
        - crates/riptide-extraction/**
        - crates/riptide-search/**
        - crates/riptide-intelligence/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: browser
      name: Browser Abstraction
      paths:
        - crates/riptide-browser/**
        - crates/riptide-browser-abstraction/**
        - crates/riptide-headless/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: api
      name: API & CLI
      paths:
        - crates/riptide-api/**
        - crates/riptide-cli/**
        - crates/riptide-facade/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/riptide-config/**
        - crates/riptide-cache/**
        - crates/riptide-reliability/**
        - crates/riptide-persistence/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: wasm
      name: WASM Module
      paths:
        - wasm/riptide-extractor-wasm/**
      statuses:
        - type: project
          target: auto
          informational: true

# GitHub checks configuration
github_checks:
  annotations: true

# Notification settings
slack_app: false

docs: update roadmap with session accomplishments and test results
  docs/DEVELOPMENT_ROADMAP.md
  docs/TEST_REPORT.md
Due: none

feat: implement health check integration and data validation tests
  Cargo.lock
  crates/riptide-api/Cargo.toml
  crates/riptide-api/build.rs
  crates/riptide-api/src/health.rs
  crates/riptide-api/tests/integration_tests.proptest-regressions
  crates/riptide-api/tests/integration_tests.rs
  docs/DATA_VALIDATION_TEST_REPORT.md
  docs/DEVELOPMENT_ROADMAP.md
  docs/HEALTH_CHECK_INTEGRATION_REPORT.md
Due: unittests, refactoring, API & CLI

docs: update roadmap and create P1 execution plan
  docs/BATCH_COMPLETION_SUMMARY.md
  docs/DEVELOPMENT_ROADMAP.md
  docs/P1_EXECUTION_PLAN.md
Due: none

docs: add P1 completion verification report
  docs/P1_COMPLETION_VERIFICATION_REPORT.md
Due: none

feat: complete failover behavior tests and roadmap updates
  .check_readable.txt
  .commented_code.txt
  .udeps.txt
  .verification_check.txt
  crates/riptide-pool/tests/circuit_breaker_tests.rs
  docs/DEVELOPMENT_ROADMAP.md
  docs/FAILOVER_TESTS_IMPLEMENTATION.md
Due: unittests, refactoring, Core Crates

feat: complete P1 Batch 2B - LLM pool integration and Phase 4 modules
  .warnings_detailed.txt
  crates/riptide-cli/src/commands/optimized_executor.rs
  crates/riptide-cli/src/main.rs
  crates/riptide-cli/tests/phase4_integration_tests.rs
  crates/riptide-intelligence/src/background_processor.rs
  crates/riptide-intelligence/src/lib.rs
  crates/riptide-intelligence/src/llm_client_pool.rs
  crates/riptide-intelligence/tests/llm_client_pool_integration_tests.rs
  docs/BATCH2B_TEST_DOCUMENTATION.md
  docs/BATCH2B_TEST_SUMMARY.md
  docs/DEVELOPMENT_ROADMAP.md
  docs/llm-client-pool-integration.md
  docs/llm-client-pool-summary.md
  docs/phase4-completion-summary.md
  docs/phase4-modules-status.md
  tests/batch2b/llm_pool_integration_tests.rs
  tests/batch2b/mod.rs
  tests/batch2b/native_pool_comprehensive_tests.rs
  tests/batch2b/wasm_pool_comprehensive_tests.rs
Due: unittests, refactoring, Extraction & Processing, API & CLI

docs: update roadmap and add P1 Batch 2 completion summary
  docs/DEVELOPMENT_ROADMAP.md
  docs/P1_BATCH2_COMPLETION_SUMMARY.md
Due: none

feat: complete P1 Batch 3 - Authentication implementation (21/21 P1 items, 100%)
  crates/riptide-api/src/middleware/auth.rs
  crates/riptide-api/tests/auth_integration_tests.rs
  crates/riptide-api/tests/auth_middleware_tests.rs
  crates/riptide-api/tests/fixtures/auth/mod.rs
  crates/riptide-api/tests/fixtures/mod.rs
  crates/riptide-config/src/api.rs
  crates/riptide-config/src/lib.rs
  docs/AUTHENTICATION_ARCHITECTURE_SUMMARY.md
  docs/P1_BATCH3_AUTHENTICATION_SUMMARY.md
  docs/auth-test-coverage-report.md
  docs/authentication-architecture.md
  docs/authentication-implementation-plan.md
  docs/authentication-implementation.md
  docs/authentication-security-audit.md
  docs/authentication-security.md
Due: unittests, refactoring, API & CLI, Infrastructure

feat: complete security hardening - Production deployment ready
  Cargo.lock
  crates/riptide-api/Cargo.toml
  crates/riptide-api/src/middleware/auth.rs
  crates/riptide-api/tests/auth_integration_tests.rs
  crates/riptide-api/tests/auth_rate_limiting_tests.rs
  crates/riptide-config/src/api.rs
  crates/riptide-config/src/lib.rs
  crates/riptide-config/tests/api_key_validation_tests.rs
  docs/AUTH-002-VERIFICATION.md
  docs/DEVELOPMENT_ROADMAP.md
  docs/P1_BATCH3B_SECURITY_HARDENING_SUMMARY.md
  docs/auth002-implementation-report.md
  docs/authentication-audit-logging.md
  docs/security/AUTH-001-fix-summary.md
Due: unittests, refactoring, API & CLI, Infrastructure

docs: update roadmap with security hardening completion
  docs/DEVELOPMENT_ROADMAP.md
Due: none

feat: implement P2 quick wins - observability and reliability improvements
  Cargo.lock
  crates/riptide-api/Cargo.toml
  crates/riptide-api/src/handlers/memory.rs
  crates/riptide-api/src/handlers/mod.rs
  crates/riptide-api/src/main.rs
  crates/riptide-api/src/sessions/manager.rs
  crates/riptide-api/src/sessions/mod.rs
  crates/riptide-api/src/sessions/storage.rs
  crates/riptide-api/src/sessions/tests.rs
  crates/riptide-api/src/sessions/types.rs
  crates/riptide-api/tests/memory_profile_tests.rs
  crates/riptide-api/tests/test_helpers.rs
  crates/riptide-extraction/examples/enhanced_link_extraction_example.rs
  crates/riptide-extraction/src/enhanced_link_extraction.rs
  crates/riptide-extraction/src/html_parser.rs
  crates/riptide-extraction/src/lib.rs
  crates/riptide-extraction/tests/link_extraction_tests.rs
  crates/riptide-workers/src/lib.rs
  crates/riptide-workers/src/state.rs
  crates/riptide-workers/tests/state_integration_tests.rs
  docs/MEMORY_PROFILING_ENDPOINT.md
  docs/SESSION_CLEANUP.md
  docs/STATE_TRANSITION_GUARD_IMPLEMENTATION.md
  docs/enhanced-link-extraction.md
  docs/link-extraction-implementation-summary.md
Due: unittests, refactoring, Extraction & Processing, API & CLI

docs: update roadmap with P2 Batch 1 completion
  crates/riptide-api/src/handlers/resources.rs
  crates/riptide-api/src/main.rs
  crates/riptide-api/src/resource_manager/memory_manager.rs
  crates/riptide-api/tests/memory_leak_detection_tests.rs
  crates/riptide-api/tests/table_extraction_integration_tests.rs
  crates/riptide-extraction/examples/parallel_extraction_example.rs
  crates/riptide-extraction/src/lib.rs
  crates/riptide-extraction/src/parallel.rs
  crates/riptide-extraction/tests/parallel_extraction_tests.rs
  crates/riptide-intelligence/src/lib.rs
  crates/riptide-intelligence/src/smart_retry.rs
  crates/riptide-intelligence/tests/smart_retry_tests.rs
  docs/DEVELOPMENT_ROADMAP.md
  docs/MEMORY_LEAK_DETECTION.md
  docs/PARALLEL_EXTRACTION.md
  docs/SMART_RETRY_LOGIC.md
  docs/TABLE_EXTRACTION_TESTING.md
Due: unittests, refactoring, Extraction & Processing, API & CLI

fix: resolve P2 Batch 2 compilation errors
  crates/riptide-api/src/main.rs
  crates/riptide-api/src/resource_manager/memory_manager.rs
Due: unittests, refactoring, API & CLI

test: ignore failing leak detection tests for CI/CD
  crates/riptide-api/tests/memory_leak_detection_tests.rs
Due: unittests, refactoring, API & CLI

docs: update roadmap with P2 Batch 2 completion (75% P2 complete)
  docs/DEVELOPMENT_ROADMAP.md
Due: none

feat: P2 Batch 2 - API layer improvements (retry strategies, validation, metrics)
  Cargo.lock
  crates/riptide-api/Cargo.toml
  crates/riptide-api/src/errors.rs
  crates/riptide-api/src/metrics.rs
  crates/riptide-api/src/middleware/request_validation.rs
  crates/riptide-api/src/pipeline.rs
  crates/riptide-api/src/streaming/lifecycle.rs
  crates/riptide-api/tests/request_validation_comprehensive_tests.rs
  crates/riptide-api/tests/table_extraction_integration_tests.rs
  docs/DEVELOPMENT_ROADMAP.md
  docs/P2_BATCH2_COMPLETION_SUMMARY.md
  docs/retry-strategy-integration.md
Due: unittests, refactoring, API & CLI

fix: Swarm coordination - disk space management, cargo check fixes, and clippy improvements
  .github/workflows/disk-cleanup.yml
  cli/package.json
  clirefactor.md
  crates/riptide-api/build.rs
  crates/riptide-config/src/api.rs
  crates/riptide-extraction/src/parallel.rs
  crates/riptide-extraction/src/strategies/manager.rs
  crates/riptide-extraction/src/strategies/traits.rs
  crates/riptide-extraction/src/table_extraction/extractor.rs
  crates/riptide-extraction/src/unified_extractor.rs
  crates/riptide-fetch/src/telemetry.rs
  crates/riptide-monitoring/src/telemetry.rs
  crates/riptide-persistence/tests/eviction_tracking_tests.rs
  crates/riptide-pool/src/memory_manager.rs
  crates/riptide-pool/src/pool.rs
  docs/CLI-EXTRACTION-STRATEGY-ANALYSIS.md
  docs/CLI-REFACTORING-PLAN.md
  docs/DISK-SPACE-MANAGEMENT.md
  docs/cargo-check-report.md
  docs/clippy-report.md
  docs/verification-report.md
  package.json
  playground/package.json
  scripts/DISK-MANAGEMENT-README.md
  scripts/cleanup-disk.sh
  scripts/disk-monitor.sh
  scripts/pre-build-check.sh
  scripts/smart-cleanup.sh
Due: unittests, refactoring, Core Crates, Extraction & Processing, API & CLI, Infrastructure

fix: Complete EventMesh compilation - 100% workspace success 🎉
  .github/workflows/disk-cleanup.yml
  Cargo.lock
  Cargo.toml
  cli-spec/Cargo.toml
  cli-spec/TEST-REPORT.md
  cli-spec/cli.yaml
  cli-spec/spec.yaml
  cli-spec/src/lib.rs
  cli-spec/src/parser.rs
  cli-spec/src/types.rs
  cli-spec/src/validation.rs
  cli-spec/tests/README.md
  cli-spec/tests/spec_validation.rs
  crates/riptide-api/src/jemalloc_stats.rs
  crates/riptide-cache/src/wasm/module.rs
  crates/riptide-cli/Cargo.toml
  crates/riptide-cli/src/lib.rs
  crates/riptide-cli/src/main.rs
  crates/riptide-extraction/src/unified_extractor.rs
  crates/riptide-intelligence/src/smart_retry.rs
  crates/riptide-intelligence/tests/smart_retry_tests.rs
  crates/riptide-pool/src/events_integration.rs
  crates/riptide-pool/src/health_monitor.rs
  crates/riptide-pool/src/memory_manager.rs
  crates/riptide-pool/src/models.rs
  crates/riptide-pool/src/pool.rs
  docs/CONTINUOUS-VERIFICATION.md
  docs/FINAL-VERIFICATION.md
  docs/FINAL-WORKSPACE-VERIFICATION.md
Due: unittests, refactoring, Core Crates, Extraction & Processing, API & CLI, Infrastructure

docs: Add comprehensive swarm mission completion report
  docs/SWARM-MISSION-COMPLETE.md
  docs/cli-cleanup-phase1-summary.md
Due: none

feat(cli): Complete Phase 1-3 implementation - all 7 commands working
  Cargo.lock
  crates/riptide-cli/Cargo.toml
  crates/riptide-cli/src/commands/config.rs
  crates/riptide-cli/src/commands/doctor.rs
  crates/riptide-cli/src/commands/render.rs
  crates/riptide-cli/src/commands/search.rs
  crates/riptide-cli/src/commands/session.rs
  crates/riptide-cli/src/commands/session_api.rs
  crates/riptide-cli/src/commands/spider.rs
Due: unittests, refactoring, API & CLI

fix(cli): Clippy fixes and test cleanup for Phase 1-3
  crates/riptide-cli/src/commands/doctor.rs
  crates/riptide-cli/src/commands/render.rs
  crates/riptide-cli/src/commands/search.rs
  crates/riptide-cli/src/lib.rs
  crates/riptide-cli/src/output/mod.rs
  crates/riptide-cli/tests/cache_tests.rs
  crates/riptide-cli/tests/client_tests.rs
  crates/riptide-cli/tests/config_tests.rs
  crates/riptide-cli/tests/execution_mode_tests.rs
  crates/riptide-cli/tests/extract_tests.rs
  crates/riptide-cli/tests/job_manager_tests.rs
  crates/riptide-cli/tests/job_storage_tests.rs
  crates/riptide-cli/tests/job_types_tests.rs
  crates/riptide-cli/tests/metrics_integration_test.rs
  crates/riptide-cli/tests/pdf_tests.rs
  crates/riptide-cli/tests/phase4_integration_tests.rs
  crates/riptide-cli/tests/render_tests.rs
Due: unittests, refactoring, API & CLI

refactor(cli): Thin CLI cleanup - remove dead code and achieve zero warnings
  analysisinstructions.md
  clirefactor.md
  crates/riptide-cli/src/commands/adaptive_timeout.rs
  crates/riptide-cli/src/commands/cache.rs
  crates/riptide-cli/src/commands/crawl.rs
  crates/riptide-cli/src/commands/domain.rs
  crates/riptide-cli/src/commands/domain_refactored.rs
  crates/riptide-cli/src/commands/engine_cache.rs
  crates/riptide-cli/src/commands/extract_enhanced.rs
  crates/riptide-cli/src/commands/health.rs
  crates/riptide-cli/src/commands/job.rs
  crates/riptide-cli/src/commands/job_local.rs
  crates/riptide-cli/src/commands/metrics.rs
  crates/riptide-cli/src/commands/optimized_executor.rs
  crates/riptide-cli/src/commands/pdf.rs
  crates/riptide-cli/src/commands/performance_monitor.rs
  crates/riptide-cli/src/commands/progress.rs
  crates/riptide-cli/src/commands/schema.rs
  crates/riptide-cli/src/commands/stealth.rs
  crates/riptide-cli/src/commands/system_check.rs
  crates/riptide-cli/src/commands/tables.rs
  crates/riptide-cli/src/commands/validate.rs
  crates/riptide-cli/src/commands/wasm.rs
  crates/riptide-cli/src/commands/wasm_aot_cache.rs
  crates/riptide-cli/src/commands/wasm_cache.rs
  crates/riptide-cli/src/error.rs
  crates/riptide-cli/src/lib.rs
  crates/riptide-cli/src/main.rs
  crates/riptide-cli/src/output/json.rs
  crates/riptide-cli/src/output/mod.rs
  crates/riptide-cli/src/output/stream.rs
  crates/riptide-cli/src/output/text.rs
Due: unittests, refactoring, API & CLI

refactor(cli): Implement swarm recommendations for thin CLI architecture
  crates/riptide-cli/README.md
  crates/riptide-cli/src/commands/config.rs
  crates/riptide-cli/src/commands/extract.rs
  crates/riptide-cli/src/commands/mod.rs
  crates/riptide-cli/src/commands/render.rs
  crates/riptide-cli/src/commands/search.rs
  crates/riptide-cli/src/commands/spider.rs
  crates/riptide-cli/src/lib.rs
  crates/riptide-cli/src/main.rs
  crates/riptide-cli/src/output/mod.rs
  crates/riptide-cli/src/output/utils.rs
  crates/riptide-cli/src/session/manager.rs
  crates/riptide-cli/src/session/mod.rs
  crates/riptide-cli/src/session/types.rs
  docs/architecture/cli-thin-architecture-evaluation.md
Due: unittests, refactoring, API & CLI

docs: Update analysis instructions format
  analysisinstructions.md
Due: none

fix(clippy): Phase 2 - Network & Persistence Safety (98 P1 warnings)
  crates/riptide-browser/src/cdp/mod.rs
  crates/riptide-browser/src/hybrid/fallback.rs
  crates/riptide-browser/src/launcher/mod.rs
  crates/riptide-browser/src/pool/mod.rs
  crates/riptide-fetch/src/telemetry.rs
  crates/riptide-performance/src/benchmarks/extraction_benchmark.rs
  crates/riptide-performance/src/benchmarks/mod.rs
  crates/riptide-performance/src/lib.rs
  crates/riptide-performance/src/profiling/allocation_analyzer.rs
  crates/riptide-performance/src/profiling/mod.rs
  crates/riptide-performance/src/profiling/telemetry.rs
  crates/riptide-performance/src/utils/mod.rs
  crates/riptide-performance/src/utils/safe_conversions.rs
  docs/analysis/crate-comparison.md
  docs/analysis/persistence/code-quality-report.md
  docs/analysis/persistence/phase2-complete.md
  docs/analysis/persistence/unwrap-analysis-summary.md
  docs/analysis/phase2-arithmetic-browser-summary.md
  docs/clippy-phase2-fetch-complete.md
  docs/clippy-phase2-report-2025-11-03.md
Due: unittests, refactoring, Core Crates, Browser Abstraction

fix(clippy): Phase 3 - Core Functionality & AI (1,100 P1 warnings)
  crates/riptide-extraction/src/chunking/cache/tiktoken_cache.rs
  crates/riptide-extraction/src/chunking/fixed.rs
  crates/riptide-extraction/src/composition.rs
  crates/riptide-extraction/src/confidence.rs
  crates/riptide-extraction/src/confidence_integration.rs
  crates/riptide-extraction/src/css_extraction.rs
  crates/riptide-extraction/src/processor.rs
  crates/riptide-extraction/src/regex_extraction.rs
  crates/riptide-extraction/src/unified_extractor.rs
  crates/riptide-intelligence/src/background_processor.rs
  crates/riptide-intelligence/src/llm_client_pool.rs
  crates/riptide-intelligence/src/providers/google_vertex.rs
  crates/riptide-intelligence/src/runtime_switch.rs
  crates/riptide-intelligence/src/smart_retry.rs
  crates/riptide-pdf/src/errors.rs
  crates/riptide-pdf/src/helpers.rs
  crates/riptide-pdf/src/integration.rs
  crates/riptide-pdf/src/memory_benchmark.rs
  crates/riptide-stealth/src/behavior.rs
  crates/riptide-stealth/src/detection.rs
  crates/riptide-stealth/src/enhancements/header_consistency.rs
  crates/riptide-stealth/src/enhancements/screen_resolution.rs
  crates/riptide-stealth/src/evasion.rs
  crates/riptide-stealth/src/rate_limiter.rs
  crates/riptide-stealth/src/user_agent.rs
  docs/clippy-intelligence-fixes.md
  docs/clippy-phase3-report-2025-11-03.md
  refactorplan.md
Due: unittests, refactoring, Extraction & Processing

fix(clippy): Phase 4 - Observability & Infrastructure (100+ P1 warnings)
  crates/riptide-events/src/bus.rs
  crates/riptide-events/src/handlers.rs
  crates/riptide-events/src/types.rs
  crates/riptide-monitoring/src/monitoring/alerts.rs
  crates/riptide-monitoring/src/monitoring/collector.rs
  crates/riptide-monitoring/src/monitoring/health.rs
  crates/riptide-monitoring/src/monitoring/reports.rs
  crates/riptide-monitoring/src/monitoring/time_series.rs
  crates/riptide-monitoring/src/telemetry.rs
  docs/analysis/phase4-events-fixes.md
  docs/analysis/phase4-riptide-config-complete.md
Due: unittests, refactoring, Core Crates

feat(observability): Phase 4 complete - perfect event & config systems
  docs/analysis/phase4-comprehensive-report.md
Due: none

feat(infrastructure): Phase 5 complete - spider, search, headless, cache
  crates/riptide-cache/src/manager.rs
  crates/riptide-cache/src/redis.rs
  crates/riptide-cache/src/wasm/aot.rs
  crates/riptide-headless/src/cdp.rs
  crates/riptide-search/src/circuit_breaker.rs
  crates/riptide-search/src/none_provider.rs
  crates/riptide-search/src/providers.rs
  crates/riptide-spider/src/adaptive_stop.rs
  crates/riptide-spider/src/budget.rs
  crates/riptide-spider/src/config.rs
  crates/riptide-spider/src/types.rs
  docs/analysis/agent-17-riptide-spider-clippy-fixes.md
  docs/analysis/agent-19-headless-fixes.md
  docs/analysis/phase5-comprehensive-report.md
  docs/analysis/phase5-target-analysis.md
Due: unittests, refactoring, Core Crates, Extraction & Processing, Browser Abstraction, Infrastructure

quick readme update
  README.md
Due: none

docs: update READMEs with cleanup and NOT READY warning
  README.md
  docs/README.md
Due: none

remaining doc cleanup
  .clippy_readable.txt
  .crate_attrs.txt
  .debt_summary.md
  .local_allows.txt
  .signal_summary.txt
  .todos.txt
  .verification_clippy.txt
  README.md
  analysisinstructions.md
  hygieneinstructions.md
  refactorplan.md
Due: none

quick doc update
  CLAUDE.md
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
Due: none

docs: add development practices to definitive roadmap
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
Due: none

ci: skip quality gates on docs/markdown changes for push events
  .github/workflows/quality-gates.yml
Due: none

roadmap clarification
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
Due: none

feat(phase0): implement riptide-utils crate with comprehensive test suite
  Cargo.lock
  Cargo.toml
  crates/riptide-pool/src/health_monitor.rs
  crates/riptide-pool/src/memory_manager.rs
  crates/riptide-pool/src/models.rs
  crates/riptide-utils/Cargo.toml
  crates/riptide-utils/README.md
  crates/riptide-utils/src/error.rs
  crates/riptide-utils/src/http.rs
  crates/riptide-utils/src/lib.rs
  crates/riptide-utils/src/rate_limit.rs
  crates/riptide-utils/src/redis.rs
  crates/riptide-utils/src/retry.rs
  crates/riptide-utils/src/time.rs
  docs/architecture/phase0-architecture-analysis.md
  docs/architecture/phase0-module-structure.md
  docs/development/TDD-LONDON-SCHOOL.md
  docs/research/phase0-duplication-analysis.md
  tests/phase0/PHASE0-TEST-SUMMARY.md
  tests/phase0/README.md
  tests/phase0/fixtures/golden/event_jsonld.html
  tests/phase0/fixtures/golden/events.ics
  tests/phase0/fixtures/golden/sitemap.xml
  tests/phase0/fixtures/http_fixtures.rs
  tests/phase0/integration/phase0_integration_tests.rs
  tests/phase0/unit/test_config_secrets.rs
  tests/phase0/unit/test_http_client.rs
  tests/phase0/unit/test_rate_limiter.rs
  tests/phase0/unit/test_redis_pool.rs
  tests/phase0/unit/test_retry_policy.rs
Due: unittests, refactoring, Core Crates
