Repository foofork/riptidecrawler: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, refactoring, Core Crates, Extraction & Processing, Browser Abstraction, API & CLI, Infrastructure, WASM Module

.codecov.yml:

# Codecov Configuration for RipTide EventMesh
# cargo-llvm-cov unified coverage across 24 workspace crates
# Coverage percentage gates removed - reporting only

coverage:
  precision: 2
  round: down
  range: "0...100"

  status:
    project:
      default:
        target: auto
        threshold: 100%
        base: auto
        if_ci_failed: ignore
        informational: true

    patch:
      default:
        target: auto
        threshold: 100%
        base: auto
        if_ci_failed: ignore
        informational: true

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  unittests:
    carryforward: true
    paths:
      - crates/
      - wasm/

  refactoring:
    carryforward: true
    paths:
      - crates/

ignore:
  - "tests/"
  - "xtask/"
  - "examples/"
  - "benches/"
  - "**/tests.rs"
  - "**/test_*.rs"
  - "**/*_test.rs"

# Coverage thresholds per component - informational only (no gates)
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true

  individual_components:
    - component_id: core
      name: Core Crates
      paths:
        - crates/riptide-types/**
        - crates/riptide-spider/**
        - crates/riptide-fetch/**
        - crates/riptide-security/**
        - crates/riptide-monitoring/**
        - crates/riptide-events/**
        - crates/riptide-pool/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: extraction
      name: Extraction & Processing
      paths:
        - crates/riptide-extraction/**
        - crates/riptide-search/**
        - crates/riptide-intelligence/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: browser
      name: Browser Abstraction
      paths:
        - crates/riptide-browser/**
        - crates/riptide-browser-abstraction/**
        - crates/riptide-headless/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: api
      name: API & CLI
      paths:
        - crates/riptide-api/**
        - crates/riptide-cli/**
        - crates/riptide-facade/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/riptide-config/**
        - crates/riptide-cache/**
        - crates/riptide-reliability/**
        - crates/riptide-persistence/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: wasm
      name: WASM Module
      paths:
        - wasm/riptide-extractor-wasm/**
      statuses:
        - type: project
          target: auto
          informational: true

# GitHub checks configuration
github_checks:
  annotations: true

# Notification settings
slack_app: false

fix(tests): fix circuit breaker and NoneProvider test failures
  crates/riptide-search/src/circuit_breaker.rs
  crates/riptide-search/src/none_provider.rs
  crates/riptide-search/tests/riptide_search_circuit_breaker_tests.rs
  crates/riptide-search/tests/riptide_search_providers_tests.rs
Due: unittests, refactoring, Extraction & Processing

fix(clippy): replace map_clone with cloned in failover selection
  crates/riptide-intelligence/src/failover.rs
Due: unittests, refactoring, Extraction & Processing

fix(tests): fix CI workflow test failures and compilation errors
  crates/riptide-browser/src/cdp/mod.rs
  crates/riptide-extraction/src/chunking/html_aware.rs
  crates/riptide-extraction/src/chunking/regex_chunker.rs
  crates/riptide-extraction/src/chunking/topic.rs
  crates/riptide-types/src/extracted.rs
Due: unittests, refactoring, Core Crates, Extraction & Processing, Browser Abstraction

fix(ci): enhance fontconfig dependency installation
  .github/workflows/ci.yml
Due: none

fix(pdf): ignore PDF tests requiring libpdfium.so in CI
  crates/riptide-pdf/src/memory_benchmark.rs
  crates/riptide-pdf/src/tests.rs
Due: unittests, refactoring

fix(docker): remove [[example]] sections from riptide-intelligence Cargo.toml
  infra/docker/Dockerfile.api
Due: none

fix(tests): fix RwLock usage and CPU bottleneck severity assertion
  crates/riptide-performance/src/monitoring/alerts.rs
  crates/riptide-performance/src/monitoring/mod.rs
Due: unittests, refactoring

fix(tests): resolve CI test failures
  crates/riptide-browser/src/cdp/mod.rs
  crates/riptide-performance/src/phase4_validation/benchmarks.rs
Due: unittests, refactoring, Browser Abstraction

fix(ci): resolve integration test failures and build issues
  .github/workflows/ci.yml
  crates/riptide-api/tests/profiling_integration_tests.rs
  crates/riptide-performance/src/monitoring/alerts.rs
Due: unittests, refactoring, API & CLI

fix(api): suppress dead_code warning for persistence_adapter placeholder
  crates/riptide-api/src/state.rs
Due: unittests, refactoring, API & CLI

chore(ci): remove duplicate archived workflows and obsolete branches
  .github/workflows/.archived-baseline-check.yml
  .github/workflows/.archived-refactoring-quality.yml
  .github/workflows/.archived-safety-audit.yml
Due: none

fix(tests): suppress dead_code warnings for feature-gated test helpers
  crates/riptide-api/tests/test_helpers.rs
Due: none

fix(docker): remove riptide-intelligence examples during dependency caching
  infra/docker/Dockerfile.headless
Due: none

fix(ci): resolve GitHub Actions workflow failures
  .github/workflows/ci.yml
  docs/api/openapi.yaml
  infra/docker/Dockerfile.headless
Due: none

fix(ci): resolve Docker build, API validation, and OpenAPI spec errors
  .github/workflows/api-validation.yml
  docs/api/openapi.yaml
  infra/docker/Dockerfile.headless
Due: none

fix(ci): remove duplicate OpenAPI examples and add Docker Build dependency
  .github/workflows/docker-build.yml
  docs/api/openapi.yaml
Due: none

fix(api): resolve OpenAPI schema validation errors
  docs/api/openapi.yaml
Due: none

fix(ci): ensure Docker workflow runs only after CI succeeds
  .github/workflows/docker-build.yml
Due: none

fix(ci): remove docker-build.yml from CI paths-ignore
  .github/workflows/ci.yml
Due: none

fix(api): add missing parameter examples and fix schemathesis command
  .github/workflows/api-validation.yml
  docs/api/openapi.yaml
Due: none

fix(ci): increase test timeout from 15 to 30 minutes
  .github/workflows/ci.yml
Due: none

fix(api-validation): disable authentication for API validation tests
  .github/workflows/api-validation.yml
Due: none

fix(ci): export REQUIRE_AUTH to background API process
  .github/workflows/api-validation.yml
Due: none

fix(tests): resolve browser pool, BM25 scoring, and adaptive stopping failures
  crates/riptide-api/tests/browser_pool_integration.rs
  crates/riptide-spider/src/query_aware.rs
  crates/riptide-spider/src/query_aware_tests.rs
  crates/riptide-spider/src/tests.rs
Due: unittests, refactoring, Core Crates, API & CLI

fix(api): resolve OpenAPI validation failures - add missing parameters and status codes
  docs/api/openapi.yaml
Due: none

fix(clippy): consolidate consecutive str::replace calls
  crates/riptide-spider/src/query_aware.rs
Due: unittests, refactoring, Core Crates

fix(tests): add feature gates to cross-module integration tests
  crates/riptide-api/tests/cross_module_integration.rs
Due: unittests, refactoring, API & CLI

fix(tests): add timeout and reduce load for test_concurrent_access
  crates/riptide-spider/src/tests.rs
Due: none

fix(tests): remove invalid feature gates and unused imports
  crates/riptide-api/tests/cross_module_integration.rs
Due: unittests, refactoring, API & CLI

docs: add comprehensive pre-push CI validation script and guide
  docs/LOCAL_CI_GUIDE.md
  scripts/pre-push-check.sh
Due: none

fix(clippy): fix unused variables and simplify map_or patterns
  crates/riptide-stealth/benches/stealth_performance.rs
  wasm/riptide-extractor-wasm/tests/golden/mod.rs
Due: unittests, refactoring, WASM Module

fix(tests): add test_helpers import and fix unused variable warnings
  crates/riptide-api/tests/cross_module_integration.rs
  crates/riptide-stealth/benches/stealth_performance.rs
Due: unittests, refactoring, API & CLI

fix: resolve API validation, test failures, and project standards issues
  crates/riptide-api/Cargo.toml
  crates/riptide-api/src/config.rs
  crates/riptide-api/src/handlers/monitoring.rs
  crates/riptide-api/tests/config_env_tests.rs
  crates/riptide-browser-abstraction/Cargo.toml
  crates/riptide-spider/src/tests.rs
  docs/api/openapi.yaml
Due: unittests, refactoring, Browser Abstraction, API & CLI

fix: update to v0.9.0 and fix OpenAPI error schema format
  Cargo.lock
  Cargo.toml
  crates/riptide-api/Cargo.toml
  crates/riptide-browser-abstraction/Cargo.toml
  crates/riptide-browser/Cargo.toml
  crates/riptide-cache/Cargo.toml
  crates/riptide-cli/Cargo.toml
  crates/riptide-config/Cargo.toml
  crates/riptide-events/Cargo.toml
  crates/riptide-extraction/Cargo.toml
  crates/riptide-facade/Cargo.toml
  crates/riptide-fetch/Cargo.toml
  crates/riptide-headless/Cargo.toml
  crates/riptide-intelligence/Cargo.toml
  crates/riptide-monitoring/Cargo.toml
  crates/riptide-pdf/Cargo.toml
  crates/riptide-performance/Cargo.toml
  crates/riptide-persistence/Cargo.toml
  crates/riptide-pool/Cargo.toml
  crates/riptide-reliability/Cargo.toml
  crates/riptide-search/Cargo.toml
  crates/riptide-security/Cargo.toml
  crates/riptide-spider/Cargo.toml
  crates/riptide-stealth/Cargo.toml
  crates/riptide-streaming/Cargo.toml
  crates/riptide-test-utils/Cargo.toml
  crates/riptide-types/Cargo.toml
  crates/riptide-workers/Cargo.toml
  docs/VALIDATION_REPORT.md
  docs/api/openapi.yaml
  docs/check_doc_comments.sh
  docs/check_docs.py
  docs/doc_comments_analysis_report.md
  docs/doc_comments_summary.md
  docs/prioritized_doc_checklist.md
  temp.md
Due: unittests, refactoring, Core Crates, Extraction & Processing, Browser Abstraction, API & CLI, Infrastructure

fix(api): correct OpenAPI error schema to match actual API response format
  docs/api/openapi.yaml
Due: none

fix(api): update OpenAPI error examples and e2e tests to match API implementation
  crates/riptide-api/tests/e2e_full_stack.rs
  crates/riptide-api/tests/test_helpers.rs
  docs/api/openapi.yaml
Due: unittests, refactoring, API & CLI

fix(tests): reduce spider concurrent access test workload to prevent timeout
  crates/riptide-spider/src/tests.rs
Due: none

fix(api): comprehensive OpenAPI and test fixes for Schemathesis validation
  crates/riptide-api/tests/test_helpers.rs
  crates/riptide-streaming/src/backpressure.rs
  docs/api/openapi.yaml
Due: unittests, refactoring

fix(api): resolve spider session tests and error recovery test failures
  crates/riptide-api/tests/test_helpers.rs
  crates/riptide-spider/src/session.rs
  docs/api/openapi.yaml
  docs/api/schema-analysis-report.md
  docs/schemathesis-fixes-needed.md
  scripts/add_status_codes.py
  scripts/add_text_plain_responses.py
  scripts/fix_remaining_endpoints.py
  scripts/fix_text_plain.py
  temp.md
  temp2.md
Due: unittests, refactoring, Core Crates

fix(ci): resolve browser SIGILL crash by using portable CPU target
  .github/workflows/ci.yml
  .github/workflows/clean-rebuild.sh
Due: none
