Repository foofork/riptidecrawler: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, refactoring, Core Crates, Extraction & Processing, Browser Abstraction, API & CLI, Infrastructure, WASM Module

.codecov.yml:

# Codecov Configuration for RipTide EventMesh
# cargo-llvm-cov unified coverage across 24 workspace crates
# Coverage percentage gates removed - reporting only

coverage:
  precision: 2
  round: down
  range: "0...100"

  status:
    project:
      default:
        target: auto
        threshold: 100%
        base: auto
        if_ci_failed: ignore
        informational: true

    patch:
      default:
        target: auto
        threshold: 100%
        base: auto
        if_ci_failed: ignore
        informational: true

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  unittests:
    carryforward: true
    paths:
      - crates/
      - wasm/

  refactoring:
    carryforward: true
    paths:
      - crates/

ignore:
  - "tests/"
  - "xtask/"
  - "examples/"
  - "benches/"
  - "**/tests.rs"
  - "**/test_*.rs"
  - "**/*_test.rs"

# Coverage thresholds per component - informational only (no gates)
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true

  individual_components:
    - component_id: core
      name: Core Crates
      paths:
        - crates/riptide-types/**
        - crates/riptide-spider/**
        - crates/riptide-fetch/**
        - crates/riptide-security/**
        - crates/riptide-monitoring/**
        - crates/riptide-events/**
        - crates/riptide-pool/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: extraction
      name: Extraction & Processing
      paths:
        - crates/riptide-extraction/**
        - crates/riptide-search/**
        - crates/riptide-intelligence/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: browser
      name: Browser Abstraction
      paths:
        - crates/riptide-browser/**
        - crates/riptide-browser-abstraction/**
        - crates/riptide-headless/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: api
      name: API & CLI
      paths:
        - crates/riptide-api/**
        - crates/riptide-cli/**
        - crates/riptide-facade/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/riptide-config/**
        - crates/riptide-cache/**
        - crates/riptide-reliability/**
        - crates/riptide-persistence/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: wasm
      name: WASM Module
      paths:
        - wasm/riptide-extractor-wasm/**
      statuses:
        - type: project
          target: auto
          informational: true

# GitHub checks configuration
github_checks:
  annotations: true

# Notification settings
slack_app: false

docs: update roadmap with Week 0-1 completion status
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
Due: none

feat(week1): add StrategyError enum with rich context
  crates/riptide-types/src/error/mod.rs
  crates/riptide-types/src/error/riptide_error.rs
  crates/riptide-types/src/error/strategy_error.rs
  crates/riptide-types/src/lib.rs
  crates/riptide-types/src/traits.rs
Due: unittests, refactoring, Core Crates

feat(riptide-utils): add CircuitBreaker for fault tolerance
  crates/riptide-utils/src/circuit_breaker.rs
  crates/riptide-utils/src/lib.rs
Due: unittests, refactoring

docs(roadmap): enforce TWO-PHASE pattern for consolidation tasks
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
Due: none

docs(roadmap): correct file counts and clarify REFACTOR vs CREATE
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
Due: none

docs(roadmap): mark Phase 0 as COMPLETE
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
Due: none

feat(phase1): complete spider decoupling with extractor architecture
  crates/riptide-api/src/handlers/spider.rs
  crates/riptide-api/tests/respect_robots_unit_tests.rs
  crates/riptide-api/tests/spider_respect_robots_tests.rs
  crates/riptide-spider/src/extractor.rs
  crates/riptide-spider/src/lib.rs
  crates/riptide-spider/src/results.rs
  crates/riptide-spider/tests/extractor_contracts.rs
  crates/riptide-spider/tests/plugin_architecture.rs
  crates/riptide-spider/tests/result_types_integration.rs
  docs/CODE_REVIEW_PHASE1_SPIDER_DECOUPLING.md
  docs/RESPECT_ROBOTS_TESTS_REPORT.md
  docs/phase1/RIPTIDE_API_KNOWN_ISSUES.md
  docs/phase1/api-integration-complete.md
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
Due: unittests, refactoring, Core Crates, API & CLI

docs(roadmap): add immediate TODO section and update Phase 0/1 status
  crates/riptide-api/src/resource_manager/guards.rs
  crates/riptide-api/src/resource_manager/mod.rs
  crates/riptide-api/src/routes/chunking.rs
  crates/riptide-api/src/routes/llm.rs
  crates/riptide-api/src/routes/profiles.rs
  crates/riptide-api/src/routes/tables.rs
  crates/riptide-api/tests/spider_respect_robots_tests.rs
  docs/analysis/ROADMAP-COMPLETION-AUDIT.md
  docs/architecture/IMPLEMENTATION-READY.md
  docs/architecture/feature-gates-quick-reference.md
  docs/architecture/feature-gates-solution.md
  docs/architecture/feature-gates-summary.md
  docs/phase1/feature-gates-status.md
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
Due: unittests, refactoring, API & CLI

docs(roadmap): mark Phase 0 (Weeks 0-2) as complete
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
  server.yaml
Due: none

feat(spider): implement Week 2.5-5.5 spider/extraction decoupling foundation
  Cargo.lock
  crates/riptide-spider/Cargo.toml
  crates/riptide-spider/src/builder.rs
  crates/riptide-spider/src/extractor.rs
  crates/riptide-spider/src/lib.rs
  crates/riptide-spider/src/results.rs
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
Due: unittests, refactoring, Core Crates

feat(phase0-1): Complete Phase 0 and Spider/Extraction Decoupling Foundation (#5)
  Cargo.lock
  crates/riptide-spider/Cargo.toml
  crates/riptide-spider/src/builder.rs
  crates/riptide-spider/src/lib.rs
  server.yaml
Due: unittests, refactoring, Core Crates

feat(phase0): Complete Week 1.5-2 Configuration & Feature Gates with 7-agent swarm
  crates/riptide-api/src/errors.rs
  crates/riptide-api/src/handlers/llm.rs
  crates/riptide-api/src/handlers/mod.rs
  crates/riptide-api/src/handlers/pipeline_metrics.rs
  crates/riptide-api/src/handlers/profiles.rs
  crates/riptide-api/src/handlers/resources.rs
  crates/riptide-api/src/handlers/spider.rs
  crates/riptide-api/src/handlers/stealth.rs
  crates/riptide-api/src/handlers/stubs.rs
  crates/riptide-api/src/handlers/telemetry.rs
  crates/riptide-api/src/health.rs
  crates/riptide-api/src/middleware/auth.rs
  crates/riptide-api/src/pipeline.rs
  crates/riptide-api/src/pipeline_dual.rs
  crates/riptide-api/src/reliability_integration.rs
  crates/riptide-api/src/resource_manager/mod.rs
  crates/riptide-api/src/routes/chunking.rs
  crates/riptide-api/src/routes/llm.rs
  crates/riptide-api/src/routes/profiles.rs
  crates/riptide-api/src/routes/tables.rs
  crates/riptide-api/src/rpc_client.rs
  crates/riptide-api/src/rpc_session_context.rs
  crates/riptide-api/src/state.rs
  crates/riptide-api/tests/spider_respect_robots_tests.rs
  crates/riptide-spider/src/builder.rs
  docs/phase0/PHASE-0-WEEK-1.5-2-COMPLETION-REPORT.md
  docs/tests/feature-combination-test-results.md
Due: unittests, refactoring, Core Crates, API & CLI

docs(roadmap): mark Phase 0 Week 1.5-2 as CODE COMPLETE
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
Due: none

fix(riptide-api): feature-gate jemalloc module and usages
  crates/riptide-api/src/handlers/memory.rs
  crates/riptide-api/src/handlers/resources.rs
  crates/riptide-api/src/lib.rs
  crates/riptide-api/src/metrics.rs
  docs/RUSTUP-ENVIRONMENT-FIX.md
Due: unittests, refactoring, API & CLI

docs: add environment setup and rustup fix documentation
  .devcontainer/devcontainer.json.example
  check-env.sh
  docs/CODESPACES-RUSTUP-FIX.md
  docs/ENVIRONMENT-SETUP-INSTRUCTIONS.md
Due: none

feat(phase0): Complete Week 1.5-2 Configuration & Feature Gates with 7-agent swarm
  crates/riptide-api/src/errors.rs
  crates/riptide-api/src/handlers/llm.rs
  crates/riptide-api/src/handlers/memory.rs
  crates/riptide-api/src/handlers/mod.rs
  crates/riptide-api/src/handlers/pipeline_metrics.rs
  crates/riptide-api/src/handlers/profiles.rs
  crates/riptide-api/src/handlers/resources.rs
  crates/riptide-api/src/handlers/spider.rs
  crates/riptide-api/src/handlers/stealth.rs
  crates/riptide-api/src/handlers/stubs.rs
  crates/riptide-api/src/handlers/telemetry.rs
  crates/riptide-api/src/health.rs
  crates/riptide-api/src/lib.rs
  crates/riptide-api/src/metrics.rs
  crates/riptide-api/src/middleware/auth.rs
  crates/riptide-api/src/pipeline.rs
  crates/riptide-api/src/pipeline_dual.rs
  crates/riptide-api/src/reliability_integration.rs
  crates/riptide-api/src/resource_manager/mod.rs
  crates/riptide-api/src/routes/chunking.rs
  crates/riptide-api/src/routes/llm.rs
  crates/riptide-api/src/routes/profiles.rs
  crates/riptide-api/src/routes/tables.rs
  crates/riptide-api/src/rpc_client.rs
  crates/riptide-api/src/rpc_session_context.rs
  crates/riptide-api/src/state.rs
  crates/riptide-api/tests/spider_respect_robots_tests.rs
  crates/riptide-spider/src/builder.rs
  docs/RUSTUP-ENVIRONMENT-FIX.md
  docs/phase0/PHASE-0-WEEK-1.5-2-COMPLETION-REPORT.md
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
  docs/tests/feature-combination-test-results.md
Due: unittests, refactoring, Core Crates, API & CLI

docs(roadmap): mark Week 1.5-2 as COMPLETE after PR #6 merge
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
Due: none

docs: add Claude Web + Claude Code collaboration workflow
  docs/CLAUDE-WEB-WORKFLOW.md
Due: none

feat(phase1): Complete Week 5.5-9 Trait-Based Composition
  Cargo.lock
  crates/riptide-facade/Cargo.toml
  crates/riptide-facade/benches/composition_benchmarks.rs
  crates/riptide-facade/docs/ERROR_HANDLING_PATTERNS.md
  crates/riptide-facade/src/dto/document.rs
  crates/riptide-facade/src/dto/mapper.rs
  crates/riptide-facade/src/dto/mod.rs
  crates/riptide-facade/src/dto/structured_data.rs
  crates/riptide-facade/src/error.rs
  crates/riptide-facade/src/lib.rs
  crates/riptide-facade/src/traits/chainable.rs
  crates/riptide-facade/src/traits/extractor.rs
  crates/riptide-facade/src/traits/mocks.rs
  crates/riptide-facade/src/traits/mod.rs
  crates/riptide-facade/src/traits/spider.rs
  crates/riptide-facade/tests/composition_tests.rs
  docs/phase1/PHASE-1-WEEK-5.5-9-COMPLETION-REPORT.md
Due: unittests, refactoring, API & CLI

docs(roadmap): mark Phase 1 Week 5.5-9 COMPLETE - Trait-Based Composition
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
Due: none

feat(phase1): Complete Week 9 - Facade Unification
  crates/riptide-facade/Cargo.toml
  crates/riptide-facade/src/facades/crawl_facade.rs
  crates/riptide-facade/src/facades/mod.rs
  crates/riptide-facade/src/lib.rs
  crates/riptide-facade/tests/crawl_facade_integration_tests.rs
  docs/phase1/PHASE-1-WEEK-9-FACADE-UNIFICATION-COMPLETION-REPORT.md
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
Due: unittests, refactoring, API & CLI

feat(phase2): Complete PyO3 Spike - Week 9 Step 1
  Cargo.toml
  crates/riptide-py/Cargo.toml
  crates/riptide-py/README.md
  crates/riptide-py/examples/spike_test.py
  crates/riptide-py/pyproject.toml
  crates/riptide-py/src/lib.rs
  docs/phase2/PYO3-SPIKE-GO-NOGO-DECISION.md
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
Due: unittests, refactoring

feat(phase2): Implement Python SDK Core Bindings - Step 2 (partial)
  crates/riptide-py/examples/basic_usage.py
  crates/riptide-py/src/document.rs
  crates/riptide-py/src/errors.rs
  crates/riptide-py/src/lib.rs
  crates/riptide-py/src/riptide_class.rs
Due: unittests, refactoring

feat(phase2): Complete Python SDK Core Bindings - Step 2
  crates/riptide-py/README.md
  crates/riptide-py/pytest.ini
  crates/riptide-py/riptide.pyi
  crates/riptide-py/tests/test_performance.py
  crates/riptide-py/tests/test_riptide.py
  docs/phase2/PHASE-2-WEEK-9-11-STEP-2-CORE-BINDINGS-COMPLETION-REPORT.md
Due: unittests, refactoring

feat(phase2): Complete Python SDK Packaging - Step 3
  .github/workflows/python-wheels.yml
  crates/riptide-py/Cargo.toml
  crates/riptide-py/MANIFEST.in
  crates/riptide-py/PACKAGING.md
  crates/riptide-py/build.sh
  crates/riptide-py/pyproject.toml
  crates/riptide-py/test-wheel.sh
  docs/phase2/PHASE-2-WEEK-11-12-STEP-3-PACKAGING-COMPLETION-REPORT.md
Due: unittests, refactoring

feat(phase2): Complete Events Schema MVP - Week 13-14
  Cargo.toml
  crates/riptide-schemas/Cargo.toml
  crates/riptide-schemas/README.md
  crates/riptide-schemas/src/events.rs
  crates/riptide-schemas/src/extraction.rs
  crates/riptide-schemas/src/formatters.rs
  crates/riptide-schemas/src/lib.rs
  crates/riptide-schemas/tests/integration_tests.rs
  docs/phase2/PHASE-2-WEEK-13-14-EVENTS-SCHEMA-COMPLETION-REPORT.md
Due: unittests, refactoring

Add diagnostic reports for Week 9 fixes
  reports/DELIVERABLES-MANIFEST.md
  reports/DIAGNOSTIC-COUNTS.txt
  reports/DIAGNOSTIC-SUMMARY.md
  reports/INSTRUCTIONS-FOR-AGENT.md
  reports/README-FOR-BRANCH-AGENT.md
  reports/check-complete.json
  reports/check-raw.json
  reports/check.jsonl
  reports/clippy-complete.json
  reports/clippy-raw.json
  reports/clippy.jsonl
  reports/toolchain.txt
Due: none

docs(roadmap): Track Week 9 status and Phase 2 commits ahead of schedule
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
Due: none

fix: Resolve Cargo.toml issues and complete Phase 2 integration
  Cargo.lock
  crates/riptide-api/src/handlers/mod.rs
  crates/riptide-api/src/handlers/stubs.rs
  crates/riptide-api/src/handlers/telemetry.rs
  crates/riptide-api/src/lib.rs
  crates/riptide-api/src/pipeline.rs
  crates/riptide-api/src/reliability_integration.rs
  crates/riptide-api/src/routes/chunking.rs
  crates/riptide-py/Cargo.toml
  crates/riptide-spider/src/builder.rs
Due: unittests, refactoring, Core Crates, API & CLI

docs: Update roadmap with circular dependency resolution and cleanup
  Cargo.lock
  docs/roadmap/ANALYSIS-QUICK-SUMMARY.md
  docs/roadmap/CONSOLIDATION-EXAMPLES.md
  docs/roadmap/CONSOLIDATION-INDEX.md
  docs/roadmap/CONSOLIDATION-LINE-MAPPING.md
  docs/roadmap/CONSOLIDATION-QUICK-SUMMARY.md
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.backup.md
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
  docs/roadmap/ROADMAP-ANALYSIS-DUPLICATES-AND-CONSOLIDATION.md
  docs/roadmap/ROADMAP-CONSOLIDATION-STRATEGY.md
  docs/roadmap/ROADMAP-VALIDATION-REPORT-2025-11-06.md
Due: none

docs: Actually consolidate completed work in roadmap (846 lines removed)
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
Due: none

docs(roadmap): Add Phase 2C Architectural Refactoring as priority work
  docs/CLAUDE-WEB-WORKFLOW.md
  docs/CLEANUP-TODO-ANALYSIS.md
  docs/REVIEWER-REPORT-CIRCULAR-DEPENDENCY.md
  docs/architecture/REFACTORING-PLAN.md
  docs/architecture/ROADMAP-IMPACT-ANALYSIS.md
  docs/architecture/ROADMAP-INTEGRATION-DESIGN.md
  docs/architecture/TYPE-MIGRATION-ANALYSIS.md
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
  docs/roadmap/ROADMAP-ANALYSIS-DUPLICATES-AND-CONSOLIDATION.md
  docs/roadmap/VALIDATION-SYNTHESIS.md
Due: none

docs(roadmap): Fix WRAP decisions and align with Rust layering architecture
  docs/architecture/ROADMAP-WRAP-DECISIONS-AUDIT.md
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
Due: none

feat(architecture): Phase 2C complete - Circular dependency eliminated
  crates/riptide-api/Cargo.toml
  crates/riptide-api/src/pipeline.rs
  crates/riptide-api/src/strategies_pipeline.rs
  crates/riptide-facade/Cargo.toml
  crates/riptide-facade/src/facades/crawl_facade.rs
  crates/riptide-pipeline/src/lib.rs
  crates/riptide-types/src/http_types.rs
  crates/riptide-types/src/lib.rs
  crates/riptide-types/src/pipeline/mod.rs
  crates/riptide-types/src/pipeline/results.rs
  crates/riptide-types/src/pipeline/traits.rs
  docs/architecture/TRAIT-CODE-EXAMPLE.rs
  docs/architecture/TRAIT-EXTRACTION-DESIGN.md
Due: unittests, refactoring, Core Crates, API & CLI

feat(phase2c): Restore facades after circular dependency elimination
  Cargo.lock
  crates/riptide-api/Cargo.toml
  crates/riptide-api/src/dto.rs
  crates/riptide-api/src/errors.rs
  crates/riptide-api/src/handlers/extract.rs
  crates/riptide-api/src/handlers/pdf.rs
  crates/riptide-api/src/handlers/search.rs
  crates/riptide-api/src/state.rs
  docs/architecture/THIN-HANDLER-DESIGN.md
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
  docs/test-reports/facade-re-enablement-verification.md
  reports/DELIVERABLES-MANIFEST.md
  reports/DIAGNOSTIC-COUNTS.txt
  reports/DIAGNOSTIC-SUMMARY.md
  reports/INSTRUCTIONS-FOR-AGENT.md
  reports/README-FOR-BRANCH-AGENT.md
  reports/check-complete.json
  reports/check-raw.json
  reports/check.jsonl
  reports/clippy-complete.json
  reports/clippy-raw.json
  reports/clippy.jsonl
Due: unittests, refactoring, API & CLI

feat(api): Complete Phase 2C.2 handler restoration - all 6 disabled endpoints restored
  crates/riptide-api/src/handlers/crawl.rs
  crates/riptide-api/src/handlers/search.rs
  crates/riptide-api/src/handlers/spider.rs
  crates/riptide-api/src/state.rs
Due: unittests, refactoring, API & CLI

docs(roadmap): Mark Phase 2C.2 complete - all handlers restored
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
Due: none

fix(tests): Phase 2C.2 test infrastructure - 71 errors resolved
  crates/riptide-api/src/dto.rs
  crates/riptide-api/src/handlers/crawl.rs
  crates/riptide-api/src/handlers/spider.rs
  crates/riptide-api/src/middleware/auth.rs
  crates/riptide-api/src/resource_manager/memory_manager.rs
  crates/riptide-api/src/resource_manager/mod.rs
  crates/riptide-api/src/resource_manager/rate_limiter.rs
  crates/riptide-api/src/sessions/tests.rs
  crates/riptide-api/src/tests/facade_integration_tests.rs
  crates/riptide-api/src/tests/resource_controls.rs
  crates/riptide-api/src/tests/test_helpers.rs
  crates/riptide-api/tests/pipeline_integration_test.rs
  crates/riptide-api/tests/test_helpers.rs
  docs/TEST-COMMANDS.md
  docs/TEST-HEALTH-REPORT-2025-11-06.md
  docs/TEST-STATUS-TRACKING.md
  docs/TEST-SUMMARY.md
  docs/test-health-report-template.md
  reports/DEPENDENCY-ANALYSIS-SUMMARY.md
  reports/README-DEPENDENCY-REPORTS.md
  reports/api-handler-violations-analysis.md
  reports/clippy-raw.json
  reports/dependency-flow-analysis.md
  reports/dependency-graph.mermaid
  reports/dependency-violations-quick-ref.md
  reports/domain-violations-analysis.md
  reports/facade-layer-violations-analysis.md
  reports/facade-violations-summary.md
  reports/types-rule-violations.md
  scripts/fix_test_errors.sh
Due: unittests, refactoring, API & CLI
