Repository foofork/riptidecrawler: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, refactoring, Core Crates, Extraction & Processing, Browser Abstraction, API & CLI, Infrastructure, WASM Module

.codecov.yml:

# Codecov Configuration for RipTide EventMesh
# cargo-llvm-cov unified coverage across 24 workspace crates
# Coverage percentage gates removed - reporting only

coverage:
  precision: 2
  round: down
  range: "0...100"

  status:
    project:
      default:
        target: auto
        threshold: 100%
        base: auto
        if_ci_failed: ignore
        informational: true

    patch:
      default:
        target: auto
        threshold: 100%
        base: auto
        if_ci_failed: ignore
        informational: true

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  unittests:
    carryforward: true
    paths:
      - crates/
      - wasm/

  refactoring:
    carryforward: true
    paths:
      - crates/

ignore:
  - "tests/"
  - "xtask/"
  - "examples/"
  - "benches/"
  - "**/tests.rs"
  - "**/test_*.rs"
  - "**/*_test.rs"

# Coverage thresholds per component - informational only (no gates)
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true

  individual_components:
    - component_id: core
      name: Core Crates
      paths:
        - crates/riptide-types/**
        - crates/riptide-spider/**
        - crates/riptide-fetch/**
        - crates/riptide-security/**
        - crates/riptide-monitoring/**
        - crates/riptide-events/**
        - crates/riptide-pool/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: extraction
      name: Extraction & Processing
      paths:
        - crates/riptide-extraction/**
        - crates/riptide-search/**
        - crates/riptide-intelligence/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: browser
      name: Browser Abstraction
      paths:
        - crates/riptide-browser/**
        - crates/riptide-browser-abstraction/**
        - crates/riptide-headless/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: api
      name: API & CLI
      paths:
        - crates/riptide-api/**
        - crates/riptide-cli/**
        - crates/riptide-facade/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/riptide-config/**
        - crates/riptide-cache/**
        - crates/riptide-reliability/**
        - crates/riptide-persistence/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: wasm
      name: WASM Module
      paths:
        - wasm/riptide-extractor-wasm/**
      statuses:
        - type: project
          target: auto
          informational: true

# GitHub checks configuration
github_checks:
  annotations: true

# Notification settings
slack_app: false

refactor(browser): consolidate 3 browser crates into 1
  Cargo.lock
  Cargo.toml
  crates/riptide-browser-abstraction/Cargo.toml
  crates/riptide-browser-abstraction/README.md
  crates/riptide-browser-abstraction/src/chromiumoxide_impl.rs
  crates/riptide-browser-abstraction/src/error.rs
  crates/riptide-browser-abstraction/src/factory.rs
  crates/riptide-browser-abstraction/src/lib.rs
  crates/riptide-browser-abstraction/src/params.rs
  crates/riptide-browser-abstraction/src/spider_impl.rs
  crates/riptide-browser-abstraction/src/tests.rs
  crates/riptide-browser-abstraction/src/traits.rs
  crates/riptide-browser-abstraction/tests/chromiumoxide_impl_tests.rs
  crates/riptide-browser/tests/abstraction_error_tests.rs
  crates/riptide-browser/tests/abstraction_params_tests.rs
  crates/riptide-browser/tests/abstraction_traits_tests.rs
  crates/riptide-browser/tests/cdp_chromiumoxide_engine_tests.rs
  crates/riptide-browser/tests/cdp_chromiumoxide_tests.rs
  crates/riptide-browser/tests/cdp_factory_tests.rs
  crates/riptide-browser/tests/cdp_spider_integration_tests.rs
  crates/riptide-browser/tests/cdp_spider_tests.rs
  docs/completion/BROWSER_CONSOLIDATION_INDEX.md
  docs/completion/BROWSER_CRATE_CONSOLIDATION_ACTION_PLAN.md
  docs/completion/BROWSER_CRATE_CONSOLIDATION_ANALYSIS.md
  docs/completion/BROWSER_CRATE_CONSOLIDATION_SUMMARY.txt
  docs/completion/README_BROWSER_CONSOLIDATION.txt
  docs/completion/SPRINT_4.6_BROWSER_CONSOLIDATION_COMPLETE.md
Due: unittests, refactoring, Browser Abstraction

feat(http): migrate all clients to ReliableHttpClient
  crates/riptide-reliability/src/http_client.rs
  crates/riptide-spider/src/session.rs
  crates/riptide-spider/src/sitemap.rs
  docs/completion/SPRINT_4.1_HTTP_CLIENT_MIGRATION_COMPLETE.md
Due: unittests, refactoring, Core Crates, Infrastructure

feat(phase4): complete infrastructure consolidation with comprehensive fixes
  CLAUDE.md
  crates/riptide-api/Cargo.toml
  crates/riptide-api/src/facades/crawl_handler_facade.rs
  crates/riptide-api/src/handlers/engine_selection.rs
  crates/riptide-api/src/handlers/pdf.rs
  crates/riptide-api/src/handlers/resources.rs
  crates/riptide-api/src/handlers/spider.rs
  crates/riptide-api/src/handlers/streaming.rs
  crates/riptide-api/src/handlers/telemetry.rs
  crates/riptide-api/src/lib.rs
  crates/riptide-api/src/routes/chunking.rs
  crates/riptide-api/src/routes/engine.rs
  crates/riptide-api/src/routes/pdf.rs
  crates/riptide-reliability/src/buffer.rs
  crates/riptide-workers/src/queue.rs
  crates/riptide-workers/src/scheduler.rs
  docs/completion/FACADE_COMPILATION_FIXES.md
  docs/completion/PHASE_4_COMPLETE.md
  docs/completion/PHASE_4_EXECUTIVE_SUMMARY.txt
  docs/completion/PHASE_4_QUALITY_GATES_FINAL.md
  docs/completion/PHASE_4_QUALITY_REPORT.md
  docs/completion/PHASE_4_QUALITY_SUMMARY.txt
  docs/validation/CLEANUP_SUMMARY.txt
  docs/validation/CLEANUP_VALIDATION_REPORT.md
Due: unittests, refactoring, API & CLI, Infrastructure

feat(phase5.1): Complete all 11 missing facade methods
  crates/riptide-facade/src/facades/profile.rs
  crates/riptide-facade/src/facades/streaming.rs
  crates/riptide-facade/src/facades/table.rs
  crates/riptide-facade/src/metrics/business.rs
  crates/riptide-intelligence/src/domain_profiling/profiler.rs
  docs/completion/CURRENT_STATUS_AND_NEXT_STEPS.md
Due: unittests, refactoring, Extraction & Processing, API & CLI

docs: Update Phase 5.1 completion status
  docs/completion/CURRENT_STATUS_AND_NEXT_STEPS.md
Due: none

feat(phase5.2): Complete metrics migration - 257→0 deprecation warnings
  crates/riptide-api/src/handlers/crawl.rs
  crates/riptide-api/src/handlers/llm.rs
  crates/riptide-api/src/handlers/pdf.rs
  crates/riptide-api/src/handlers/profiles.rs
  crates/riptide-api/src/handlers/resources.rs
  crates/riptide-api/src/handlers/shared/mod.rs
  crates/riptide-api/src/handlers/tables.rs
  crates/riptide-api/src/handlers/utils.rs
  crates/riptide-api/src/handlers/workers.rs
  crates/riptide-api/src/health.rs
  crates/riptide-api/src/main.rs
  crates/riptide-api/src/metrics.rs
  crates/riptide-api/src/pipeline.rs
  crates/riptide-api/src/pipeline_enhanced.rs
  crates/riptide-api/src/reliability_integration.rs
  crates/riptide-api/src/state.rs
  crates/riptide-api/src/streaming/mod.rs
  crates/riptide-api/src/tests/facade_integration_tests.rs
  crates/riptide-api/src/tests/test_helpers.rs
  crates/riptide-cache/src/lib.rs
  crates/riptide-facade/src/metrics/business.rs
  docs/completion/METRICS_MIGRATION_ARCHITECTURE.md
Due: unittests, refactoring, API & CLI, Infrastructure

feat(phase5.3): Eliminate all 79 dead code warnings
  crates/riptide-api/src/dto/mod.rs
  crates/riptide-api/src/dto/sessions.rs
  crates/riptide-api/src/dto/tables.rs
  crates/riptide-api/src/dto/workers.rs
  crates/riptide-api/src/errors.rs
  crates/riptide-api/src/facades/crawl_handler_facade.rs
  crates/riptide-api/src/handlers/engine_selection.rs
  crates/riptide-api/src/handlers/memory.rs
  crates/riptide-api/src/handlers/monitoring.rs
  crates/riptide-api/src/handlers/pipeline_phases.rs
  crates/riptide-api/src/handlers/sessions.rs
  crates/riptide-api/src/handlers/strategies.rs
  crates/riptide-api/src/handlers/streaming.rs
  crates/riptide-api/src/handlers/tables.rs
  crates/riptide-api/src/handlers/telemetry.rs
  crates/riptide-api/src/health.rs
  crates/riptide-api/src/main.rs
  crates/riptide-api/src/metrics_integration.rs
  crates/riptide-api/src/metrics_transport.rs
  crates/riptide-api/src/pipeline.rs
  crates/riptide-api/src/resource_manager/mod.rs
  crates/riptide-api/src/resource_manager/wasm_manager.rs
  crates/riptide-api/src/strategies_pipeline.rs
  crates/riptide-api/src/streaming/mod.rs
  docs/completion/CURRENT_STATUS_AND_NEXT_STEPS.md
Due: unittests, refactoring, API & CLI

feat(phase5.4): Pass clippy with -D warnings
  crates/riptide-api/src/dto/sessions.rs
  crates/riptide-api/src/handlers/pdf.rs
  crates/riptide-api/src/handlers/telemetry.rs
  crates/riptide-api/src/resource_manager/wasm_manager.rs
  crates/riptide-api/src/state.rs
Due: unittests, refactoring, API & CLI

docs(phase5-6): Mark Phases 5 & 6 complete - Production ready
  docs/completion/CURRENT_STATUS_AND_NEXT_STEPS.md
Due: none

fix: Resolve clippy warnings and compilation errors across workspace
  CLAUDE.md
  Compilation exit code: 
  RESULT=
  crates/riptide-api/src/adapters/resource_pool_adapter.rs
  crates/riptide-api/src/config.rs
  crates/riptide-api/src/dto/workers.rs
  crates/riptide-api/src/errors.rs
  crates/riptide-api/src/handlers/browser.rs
  crates/riptide-api/src/handlers/deepsearch.rs
  crates/riptide-api/src/handlers/mod.rs
  crates/riptide-api/src/handlers/render/handlers.rs
  crates/riptide-api/src/handlers/render/strategies.rs
  crates/riptide-api/src/handlers/search.rs
  crates/riptide-api/src/handlers/workers.rs
  crates/riptide-api/src/jemalloc_stats.rs
  crates/riptide-api/src/metrics_integration.rs
  crates/riptide-api/src/reliability_integration.rs
  crates/riptide-api/src/resource_manager/mod.rs
  crates/riptide-api/src/rpc_client.rs
  crates/riptide-api/src/tests/facade_integration_tests.rs
  crates/riptide-api/src/tests/test_helpers.rs
  crates/riptide-api/tests/pdf_integration_tests.rs
  crates/riptide-api/tests/phase4b_integration_tests.rs
  crates/riptide-api/tests/profiling_endpoints_live.rs
  crates/riptide-api/tests/profiling_integration_tests.rs
  crates/riptide-api/tests/streaming_endpoints_integration.rs
  crates/riptide-api/tests/test_helpers.rs
  crates/riptide-browser/tests/cdp_chromiumoxide_tests.rs
  crates/riptide-cache/src/adapters/redis_idempotency.rs
  crates/riptide-facade/src/facades/browser.rs
  crates/riptide-facade/src/facades/workers.rs
  crates/riptide-persistence/src/adapters/outbox_publisher.rs
  crates/riptide-persistence/src/adapters/prometheus_metrics.rs
  crates/riptide-persistence/tests/helpers/mod.rs
  crates/riptide-persistence/tests/helpers/postgres_helpers.rs
  crates/riptide-persistence/tests/helpers/redis_helpers.rs
  crates/riptide-persistence/tests/outbox_publisher_tests.rs
  crates/riptide-persistence/tests/redis_integration_tests.rs
Due: unittests, refactoring, Browser Abstraction, API & CLI, Infrastructure

fix: Resolve all workspace library code clippy warnings and compilation errors
  crates/riptide-api/src/composition/builder.rs
  crates/riptide-api/src/composition/mod.rs
  crates/riptide-api/src/handlers/render/strategies.rs
  crates/riptide-api/src/tests/facade_integration_tests.rs
  crates/riptide-browser/tests/cdp_factory_tests.rs
  crates/riptide-facade/src/facades/browser.rs
  crates/riptide-facade/tests/crawl_facade_integration_tests.rs
  crates/riptide-intelligence/src/smart_retry.rs
  crates/riptide-intelligence/tests/smart_retry_tests.rs
  crates/riptide-persistence/tests/helpers/mod.rs
  crates/riptide-pool/benches/native_pool_bench.rs
  crates/riptide-pool/tests/wasm_component_integration_tests.rs
  crates/riptide-reliability/tests/circuit_breaker_tests.rs
Due: unittests, refactoring, Core Crates, Extraction & Processing, Browser Abstraction, API & CLI, Infrastructure

fix: Resolve riptide-api test and binary compilation errors
  crates/riptide-api/src/handlers/browser.rs
  crates/riptide-api/src/main.rs
  crates/riptide-api/tests/integration/spider_pages_mode_tests.rs
  crates/riptide-api/tests/spider_respect_robots_tests.rs
  crates/riptide-api/tests/test_helpers.rs
  crates/riptide-types/src/http_types.rs
  crates/riptide-types/src/lib.rs
Due: unittests, refactoring, Core Crates, API & CLI

fix(tests): Resolve riptide-api test compilation errors
  Cargo.lock
  crates/riptide-api/src/handlers/browser.rs
  crates/riptide-api/src/streaming/mod.rs
  crates/riptide-api/src/streaming/response_helpers.rs
  crates/riptide-api/tests/e2e_full_stack.rs
  crates/riptide-facade/Cargo.toml
  crates/riptide-facade/benches/composition_benchmarks.rs
  crates/riptide-facade/tests/crawl_facade_integration_tests.rs
  docs/analysis/json_markdown_format_analysis.md
  docs/architecture/browser-pooling-analysis.md
  docs/research/extraction-capabilities-analysis.md
Due: unittests, refactoring, API & CLI

fix(pool): Resolve clippy warnings in native_pool_tests.rs
  crates/riptide-pool/tests/native_pool_tests.rs
  docs/HEXAGONAL_ARCHITECTURE_AUDIT.md
  docs/HEXAGONAL_ARCHITECTURE_DIAGRAMS.md
  docs/HEXAGONAL_ARCHITECTURE_REMEDIATION.md
  docs/architecture/PORTS_ADAPTERS_DIAGRAM.md
  docs/architecture/PORTS_ADAPTERS_MAPPING.md
Due: unittests, refactoring, Core Crates

fix(monitoring): Resolve clippy warnings in telemetry.rs
  crates/riptide-monitoring/src/telemetry.rs
Due: unittests, refactoring, Core Crates

fix(extraction): Resolve clippy warnings in examples and tests
  crates/riptide-extraction/examples/enhanced_link_extraction_example.rs
  crates/riptide-extraction/tests/parallel_extraction_tests.rs
  docs/architecture/facade-dependency-analysis.md
  docs/architecture/facade-dependency-matrix.md
  docs/architecture/state-management-analysis.md
Due: unittests, refactoring, Extraction & Processing

fix(types): Resolve clippy warnings in test modules
  crates/riptide-types/src/ports/health.rs
  crates/riptide-types/src/ports/infrastructure.rs
  crates/riptide-types/src/ports/metrics.rs
  docs/architecture/COMPLETE-FACADE-ANALYSIS.md
  docs/facade_verification_audit.md
Due: unittests, refactoring, Core Crates

fix(api): Allow deprecated API usage in metrics integration tests
  crates/riptide-api/tests/metrics_integration_tests.rs
  crates/riptide-facade/COMPREHENSIVE_TEST_AUDIT.md
Due: unittests, refactoring, API & CLI

fix(api): Resolve remaining clippy warnings in tests and handlers
  crates/riptide-api/src/handlers/browser.rs
  crates/riptide-api/src/handlers/render/models.rs
  crates/riptide-api/src/jemalloc_stats.rs
  crates/riptide-api/src/reliability_integration.rs
  crates/riptide-api/tests/profiling_integration_tests.rs
  crates/riptide-api/tests/streaming_endpoints_integration.rs
  docs/sprint-plan-facade-refactoring.md
Due: unittests, refactoring, API & CLI

fix(api): Disable streaming_metrics_test pending Phase 4.3 refactoring
  crates/riptide-api/tests/streaming_metrics_test.rs
  libstreaming_metrics_test.rlib
Due: none

fix(api): Add dead_code allow to resident_ratio method
  crates/riptide-api/src/jemalloc_stats.rs
Due: unittests, refactoring, API & CLI

fix(workspace): Achieve zero-tolerance clippy compliance
  crates/riptide-api/src/composition/mod.rs
  crates/riptide-api/src/reliability_integration.rs
  crates/riptide-api/tests/test_helpers.rs
  temp.md
Due: unittests, refactoring, API & CLI

fix(tests): Fix all failing workspace library tests
  crates/riptide-api/src/composition/config.rs
  crates/riptide-api/src/resource_manager/memory_manager.rs
  crates/riptide-cache/src/adapters/redis_rate_limiter.rs
  crates/riptide-cache/src/redis.rs
  docs/FACADE_REFACTORING_TECHNICAL_VALIDATION.md
  docs/ROADMAP-OVERVIEW.md
  docs/ROADMAP-WEEK-0.md
  temp.md
Due: unittests, refactoring, API & CLI, Infrastructure

fix(riptide-api): Remove unused tracing imports for non-browser builds
  crates/riptide-api/src/resource_manager/mod.rs
  crates/riptide-api/src/rpc_client.rs
Due: unittests, refactoring, API & CLI

fix(workspace): Resolve all clippy warnings for zero-tolerance compliance
  crates/riptide-api/src/facades/crawl_handler_facade.rs
  crates/riptide-api/src/handlers/shared/mod.rs
  crates/riptide-api/src/health.rs
  crates/riptide-api/src/state.rs
  crates/riptide-workers/src/job.rs
Due: unittests, refactoring, API & CLI

fix(riptide-api): Derive Default for ExporterType enum
  crates/riptide-api/src/telemetry_config.rs
Due: unittests, refactoring, API & CLI

feat(ci): Establish CI/CD baseline with zero warnings and full test coverage
  .claude/agents/analysis/analyze-code-quality.md
  .claude/agents/architecture/arch-system-design.md
  .claude/agents/data/data-ml-model.md
  .claude/agents/development/dev-backend-api.md
  .claude/agents/devops/ops-cicd-github.md
  .claude/agents/documentation/docs-api-openapi.md
  .claude/agents/specialized/spec-mobile-react-native.md
  .claude/agents/testing/production-validator.md
  .claude/agents/testing/tdd-london-swarm.md
  .claude/skills/agentic-jujutsu/SKILL.md
  CLAUDE.md
  crates/riptide-api/src/health.rs
  crates/riptide-browser/src/cdp/connection_pool.rs
  crates/riptide-browser/src/launcher/mod.rs
  crates/riptide-browser/src/pool/mod.rs
  crates/riptide-facade/src/facades/browser.rs
  crates/riptide-persistence/tests/outbox_publisher_tests.rs
  docs/DESIGN-SUMMARY-ROADMAP-RESTRUCTURE.md
  docs/ROADMAP-AMENDMENTS.md
  docs/ROADMAP-OVERVIEW.md
  docs/ROADMAP-PHASE-1.md
  docs/ROADMAP-PHASE-2.md
  docs/ROADMAP-PHASE-3.md
  docs/ROADMAP-PHASE-4.md
  docs/ROADMAP-QUALITY-GATES.md
  docs/ROADMAP-WEEK-0.md
  docs/ROADMAP.md
  docs/design-roadmap-concise.md
  docs/design-sprint-plan-one-shot.md
  docs/design-validation-checklist.md
  docs/phase1_quality_validation_report.md
  docs/quality_baseline_report.md
  docs/sprint-plan-facade-refactoring.md
  docs/swarm_agent2_verification_report.md
  scripts/quality_gate.sh
  scripts/run_quality_check.sh
Due: unittests, refactoring, Browser Abstraction, API & CLI, Infrastructure

feat: Complete AppState to ApplicationContext migration (Phase 1 & 2)
  crates/riptide-api/src/context.rs
  crates/riptide-api/src/facades/crawl_handler_facade.rs
  crates/riptide-api/src/handlers/crawl.rs
  crates/riptide-api/src/handlers/engine_selection.rs
  crates/riptide-api/src/handlers/extract.rs
  crates/riptide-api/src/handlers/fetch.rs
  crates/riptide-api/src/main.rs
  crates/riptide-api/src/metrics.rs
  crates/riptide-api/src/reliability_integration.rs
  crates/riptide-api/src/state.rs
  docs/CRITICAL_FIX_STATUS.md
  docs/FINAL_ACTUAL_STATUS.md
  docs/FINAL_VALIDATION_REPORT.md
  docs/MIGRATION_FINAL_REPORT.md
  docs/MIGRATION_STATUS_ACTUAL.md
  docs/PHASE_2_COMPLETE_SUMMARY.md
  docs/PHASE_2_COORDINATOR_REPORT.md
  docs/PHASE_2_PRODUCTION_READY.md
  docs/PHASE_2_VALIDATION_REPORT.md
  docs/architecture/ADR-001-appstate-elimination.md
  docs/architecture/CIRCULAR_DEPENDENCY_RESOLUTION.md
  docs/phase2/APPSTATE_STRUCT_TRANSFORMATION.md
  docs/phase2/CRITICAL_STATE_FILE_CORRUPTION.md
  docs/phase2/DEPRECATION_FLAGS_REMOVED.md
  docs/phase2/DOCUMENTATION_CLEANUP_COMPLETE.md
  docs/phase2/IMMEDIATE_FIXES_REQUIRED.md
  docs/phase2/PHASE_2_STATUS_ASSESSMENT.md
  docs/phase2/PHASE_2_VISUAL_STATUS.md
  docs/phase2/QUALITY_GATE_FINAL_VALIDATION.md
  docs/phase2/QUALITY_GATE_SUMMARY.md
  docs/phase2/README.md
Due: unittests, refactoring, API & CLI

fix: Add missing Arc import and migrate test files to ApplicationContext
  crates/riptide-api/src/tests/event_bus_integration_tests.rs
  crates/riptide-api/tests/enhanced_pipeline_tests.rs
  crates/riptide-api/tests/test_helpers.rs
  crates/riptide-facade/tests/crawl_facade_integration_tests.rs
  temp.md
Due: unittests, refactoring, API & CLI

feat: Add comprehensive integration testing infrastructure
  crates/riptide-facade/tests/live_crawl_integration.rs
  docs/INTEGRATION_TESTING.md
  scripts/run_integration_tests.sh
Due: unittests, refactoring, API & CLI

fix: Update live crawl integration tests to compile
  crates/riptide-facade/tests/live_crawl_integration.rs
Due: unittests, refactoring, API & CLI

fix(docker): Update Docker configuration for latest codebase
  docs/DOCKER_QUICK_START.md
  infra/docker/Dockerfile.api
Due: none

docs: Add comprehensive hexagonal architecture analysis report
  docs/architecture-health-report.md
Due: none

docs: Comprehensive rewrite of architecture and crate documentation
  crates/riptide-api/README.md
  crates/riptide-browser/README.md
  crates/riptide-cli/README.md
  crates/riptide-config/README.md
  crates/riptide-extraction/README.md
  crates/riptide-facade/README.md
  crates/riptide-pool/README.md
  crates/riptide-reliability/README.md
  crates/riptide-schemas/README.md
  crates/riptide-security/README.md
  crates/riptide-spider/README.md
  crates/riptide-test-utils/README.md
  crates/riptide-types/README.md
  crates/riptide-utils/README.md
  docs/DOCUMENTATION_CLEANUP_PLAN.md
  docs/architecture/HEXAGONAL_ARCHITECTURE.md
Due: unittests, refactoring, Core Crates, Extraction & Processing, Browser Abstraction, API & CLI, Infrastructure

docs: Update documentation indexes to reference new content and reorganization
  docs/00-getting-started/README.md
  docs/04-architecture/README.md
  docs/05-development/README.md
  docs/09-internal/README.md
  docs/README.md
Due: none
