Repository foofork/riptidecrawler: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, refactoring, Core Crates, Extraction & Processing, Browser Abstraction, API & CLI, Infrastructure, WASM Module

.codecov.yml:

# Codecov Configuration for RipTide EventMesh
# cargo-llvm-cov unified coverage across 24 workspace crates
# Coverage percentage gates removed - reporting only

coverage:
  precision: 2
  round: down
  range: "0...100"

  status:
    project:
      default:
        target: auto
        threshold: 100%
        base: auto
        if_ci_failed: ignore
        informational: true

    patch:
      default:
        target: auto
        threshold: 100%
        base: auto
        if_ci_failed: ignore
        informational: true

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  unittests:
    carryforward: true
    paths:
      - crates/
      - wasm/

  refactoring:
    carryforward: true
    paths:
      - crates/

ignore:
  - "tests/"
  - "xtask/"
  - "examples/"
  - "benches/"
  - "**/tests.rs"
  - "**/test_*.rs"
  - "**/*_test.rs"

# Coverage thresholds per component - informational only (no gates)
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true

  individual_components:
    - component_id: core
      name: Core Crates
      paths:
        - crates/riptide-types/**
        - crates/riptide-spider/**
        - crates/riptide-fetch/**
        - crates/riptide-security/**
        - crates/riptide-monitoring/**
        - crates/riptide-events/**
        - crates/riptide-pool/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: extraction
      name: Extraction & Processing
      paths:
        - crates/riptide-extraction/**
        - crates/riptide-search/**
        - crates/riptide-intelligence/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: browser
      name: Browser Abstraction
      paths:
        - crates/riptide-browser/**
        - crates/riptide-browser-abstraction/**
        - crates/riptide-headless/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: api
      name: API & CLI
      paths:
        - crates/riptide-api/**
        - crates/riptide-cli/**
        - crates/riptide-facade/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/riptide-config/**
        - crates/riptide-cache/**
        - crates/riptide-reliability/**
        - crates/riptide-persistence/**
      statuses:
        - type: project
          target: auto
          informational: true

    - component_id: wasm
      name: WASM Module
      paths:
        - wasm/riptide-extractor-wasm/**
      statuses:
        - type: project
          target: auto
          informational: true

# GitHub checks configuration
github_checks:
  annotations: true

# Notification settings
slack_app: false

docs(phase3): Complete Phase 3 comprehensive testing
  docs/PHASE-3-CODE-QUALITY-ANALYSIS.md
  docs/PHASE-3-COMPLETION-REPORT.md
  docs/PHASE-3-ENDPOINT-VALIDATION-REPORT.md
  docs/PHASE-3-PERFORMANCE-BASELINES.md
Due: none

docs(roadmap): Mark Phase 3 comprehensive testing complete
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
Due: none

fix(types): Update pipeline traits test to match current struct definitions
  crates/riptide-types/src/pipeline/traits.rs
Due: unittests, refactoring, Core Crates

fix(monitoring): Increase tolerance for FD tracking test in shared environments
  crates/riptide-monitoring/src/telemetry.rs
Due: unittests, refactoring, Core Crates

fix(extraction): Resolve deadlock and quality score test failures
  crates/riptide-extraction/src/chunking/cache/tiktoken_cache.rs
  crates/riptide-extraction/src/native_parser/tests.rs
  crates/riptide-extraction/src/unified_extractor.rs
Due: unittests, refactoring, Extraction & Processing

fix(tests): Resolve 5 test failures across riptide-api and riptide-performance
  crates/riptide-api/src/rpc_session_context.rs
  crates/riptide-performance/src/utils/safe_conversions.rs
Due: unittests, refactoring, API & CLI

clippy log
  reports/clippy_report.txt
Due: none

fix: Resolve all clippy warnings from clippy_report.txt
  crates/riptide-api/src/dto.rs
  crates/riptide-api/src/errors.rs
  crates/riptide-api/src/handlers/crawl.rs
  crates/riptide-api/src/handlers/pipeline_metrics.rs
  crates/riptide-api/src/handlers/shared/mod.rs
  crates/riptide-api/src/handlers/spider.rs
  crates/riptide-api/src/handlers/stealth.rs
  crates/riptide-api/src/handlers/streaming.rs
  crates/riptide-api/src/handlers/stubs.rs
  crates/riptide-api/src/handlers/trace_backend.rs
  crates/riptide-api/src/metrics.rs
  crates/riptide-api/src/middleware/auth.rs
  crates/riptide-api/src/models.rs
  crates/riptide-api/src/pipeline_enhanced.rs
  crates/riptide-api/src/resource_manager/memory_manager.rs
  crates/riptide-api/src/resource_manager/mod.rs
  crates/riptide-api/src/resource_manager/performance.rs
  crates/riptide-api/src/rpc_client.rs
  crates/riptide-api/src/rpc_session_context.rs
  crates/riptide-api/src/sessions/types.rs
  crates/riptide-api/src/state.rs
  crates/riptide-api/src/strategies_pipeline.rs
  crates/riptide-api/src/streaming/buffer.rs
  crates/riptide-api/src/streaming/config.rs
  crates/riptide-api/src/streaming/error.rs
  crates/riptide-api/src/streaming/lifecycle.rs
  crates/riptide-api/src/streaming/ndjson/handlers.rs
  crates/riptide-api/src/streaming/ndjson/helpers.rs
  crates/riptide-api/src/streaming/ndjson/streaming.rs
  crates/riptide-api/src/streaming/pipeline.rs
  crates/riptide-api/src/streaming/processor.rs
  crates/riptide-api/src/streaming/sse.rs
  crates/riptide-api/src/streaming/websocket.rs
  crates/riptide-api/src/utils/safe_conversions.rs
  crates/riptide-api/src/validation.rs
  crates/riptide-facade/src/dto/document.rs
  crates/riptide-facade/src/dto/structured_data.rs
  crates/riptide-facade/src/facades/crawl_facade.rs
  crates/riptide-intelligence/src/smart_retry.rs
Due: unittests, refactoring, Extraction & Processing, API & CLI

fix: Correct placement of #![allow(dead_code)] attributes
  crates/riptide-api/src/handlers/crawl.rs
  crates/riptide-api/src/handlers/pipeline_metrics.rs
  crates/riptide-api/src/pipeline_enhanced.rs
  docs/IGNORED-TESTS-ANALYSIS.md
Due: unittests, refactoring, API & CLI

ci: Disable automatic Python wheels builds
  .github/workflows/python-wheels.yml
Due: none

style: Apply remaining clippy formatting suggestions
  crates/riptide-api/src/resource_manager/mod.rs
  crates/riptide-facade/src/dto/structured_data.rs
  crates/riptide-intelligence/src/smart_retry.rs
Due: unittests, refactoring, Extraction & Processing, API & CLI

fix: Add feature gates for optional dependencies
  crates/riptide-api/src/handlers/crawl.rs
  crates/riptide-api/src/health.rs
  crates/riptide-api/src/models.rs
  crates/riptide-api/src/pipeline.rs
  crates/riptide-api/src/state.rs
  crates/riptide-api/src/strategies_pipeline.rs
  crates/riptide-types/src/http_types.rs
Due: unittests, refactoring, Core Crates, API & CLI

fix: Add comprehensive feature gates for fetch and spider
  crates/riptide-api/src/models.rs
  crates/riptide-api/src/pipeline.rs
  crates/riptide-api/src/state.rs
  crates/riptide-api/src/strategies_pipeline.rs
Due: unittests, refactoring, API & CLI

fix: Resolve CI compilation errors from feature gate changes
  crates/riptide-api/src/handlers/search.rs
  crates/riptide-api/src/handlers/stealth.rs
  crates/riptide-api/src/resource_manager/mod.rs
  crates/riptide-api/src/rpc_client.rs
Due: unittests, refactoring, API & CLI

fix: Comprehensive compilation error fixes from clippy merge
  crates/riptide-api/src/handlers/health.rs
  crates/riptide-api/src/handlers/search.rs
  crates/riptide-api/src/handlers/strategies.rs
  crates/riptide-api/src/handlers/telemetry.rs
  crates/riptide-api/src/health.rs
  crates/riptide-api/src/pipeline_enhanced.rs
  crates/riptide-api/src/resource_manager/mod.rs
  crates/riptide-api/src/rpc_client.rs
  crates/riptide-api/src/state.rs
  crates/riptide-api/src/streaming/ndjson/helpers.rs
  crates/riptide-api/src/streaming/processor.rs
  crates/riptide-api/src/streaming/sse.rs
  crates/riptide-api/src/streaming/websocket.rs
Due: unittests, refactoring, API & CLI

fix: Suppress all dead_code warnings with explicit allow attributes
  crates/riptide-api/src/dto.rs
  crates/riptide-api/src/errors.rs
  crates/riptide-api/src/resource_manager/mod.rs
Due: unittests, refactoring, API & CLI

fix: Resolve feature gate and import errors from commit 80050b9
  crates/riptide-api/src/resource_manager/mod.rs
  crates/riptide-api/src/rpc_client.rs
  crates/riptide-api/src/state.rs
  crates/riptide-api/src/streaming/ndjson/streaming.rs
  crates/riptide-api/src/streaming/pipeline.rs
  crates/riptide-api/src/streaming/sse.rs
  crates/riptide-api/src/streaming/websocket.rs
Due: unittests, refactoring, API & CLI

fix: Resolve feature gate compilation errors across streaming and state modules
  crates/riptide-api/src/state.rs
  crates/riptide-api/src/streaming/ndjson/streaming.rs
  crates/riptide-api/src/streaming/sse.rs
Due: unittests, refactoring, API & CLI

fix: Resolve all clippy warnings across workspace
  crates/riptide-intelligence/examples/background_processor_llm.rs
  crates/riptide-intelligence/tests/smart_retry_tests.rs
  crates/riptide-performance/src/utils/safe_conversions.rs
  crates/riptide-spider/src/builder.rs
  crates/riptide-spider/src/results.rs
  crates/riptide-spider/tests/plugin_architecture.rs
  crates/riptide-spider/tests/result_types_integration.rs
  docs/FEATURE-GATES-REFERENCE.md
Due: unittests, refactoring, Core Crates, Extraction & Processing

clippy fixes and cleanup
  crates/riptide-api/src/dto.rs
  crates/riptide-api/src/health.rs
  crates/riptide-api/src/resource_manager/rate_limiter.rs
  crates/riptide-api/src/sessions/tests.rs
  crates/riptide-api/tests/auth_integration_tests.rs
  crates/riptide-api/tests/auth_middleware_tests.rs
  crates/riptide-api/tests/enhanced_pipeline_tests.rs
  crates/riptide-api/tests/integration_tests.rs
  crates/riptide-api/tests/memory_leak_detection_tests.rs
  crates/riptide-api/tests/memory_profile_tests.rs
  crates/riptide-api/tests/native_pool_integration.rs
  crates/riptide-api/tests/pipeline_integration_test.rs
  crates/riptide-api/tests/request_validation_comprehensive_tests.rs
  crates/riptide-api/tests/respect_robots_unit_tests.rs.disabled
  crates/riptide-api/tests/session_persistence_tests.rs
  crates/riptide-api/tests/spider_respect_robots_tests.rs
  crates/riptide-api/tests/table_extraction_integration_tests.rs
  crates/riptide-api/tests/test_helpers.rs
  crates/riptide-api/tests/worker_tests.rs
  reports/DEPENDENCY-ANALYSIS-SUMMARY.md
  reports/README-DEPENDENCY-REPORTS.md
  reports/README-FOR-BRANCH-AGENT.md
  reports/check-raw.json
  reports/clippy-raw.json
  reports/clippy_report.txt
  reports/toolchain.txt
Due: unittests, refactoring, API & CLI

removed the riptide-pipeline crate. Here's what was accomplished:
  Cargo.lock
  Cargo.toml
  crates/riptide-api/Cargo.toml
  crates/riptide-api/src/pipeline.rs
  crates/riptide-api/src/strategies_pipeline.rs
  crates/riptide-facade/Cargo.toml
  crates/riptide-facade/src/facades/crawl_facade.rs
  crates/riptide-pipeline/Cargo.toml
  crates/riptide-pipeline/README.md
  crates/riptide-pipeline/src/lib.rs
  crates/riptide-types/examples/secrets_demo.rs
Due: unittests, refactoring, Core Crates, API & CLI

docs: comprehensive refactoring roadmap v3.1 with workspace analysis
  docs/architecture/API_CRATE_COVERAGE_ANALYSIS.md
  docs/architecture/ENHANCED_LAYERING_ROADMAP.md
  docs/architecture/README.md
  docs/architecture/WORKSPACE_ANALYSIS_EXECUTIVE_SUMMARY.md
  docs/roadmap/ANALYSIS-QUICK-SUMMARY.md
  docs/roadmap/ARCHITECTURE_CLEANUP_DEFINITIVE_ROADMAP.md
  docs/roadmap/ARCHITECTURE_MIGRATION_ROADMAP.md
  docs/roadmap/BREAKING-CHANGES-MIGRATION.md
  docs/roadmap/FILE-OPERATIONS-REFERENCE.md
  docs/roadmap/GROUND-TRUTH-FINDINGS.md
  docs/roadmap/LAYERING_REFACTORING_ROADMAP.md
  docs/roadmap/MASTER-REFACTOR-ROADMAP.md
  docs/roadmap/PHASE_0_CLEANUP_ROADMAP.md
  docs/roadmap/PHASE_1_PORTS_ADAPTERS_ROADMAP.md
  docs/roadmap/PHASE_2_APPLICATION_LAYER_ROADMAP.md
  docs/roadmap/PHASE_3_HANDLER_REFACTORING_ROADMAP.md
  docs/roadmap/PHASE_4_INFRASTRUCTURE_ROADMAP.md
  docs/roadmap/PHASE_5_VALIDATION_ROADMAP.md
  docs/roadmap/RIPTIDE-V1-DEFINITIVE-ROADMAP.md
  docs/roadmap/ROADMAP-VALIDATION-REPORT-2025-11-06.md
  docs/roadmap/SYNTHESIS-SWARM-FINDINGS.md
  docs/roadmap/architecture-cleanup-summary.md
  docs/roadmap/current-state-analysis.md
  reports/WORKSPACE_CRATE_ANALYSIS.md
Due: none

docs: add strict quality gates to all phase roadmaps
  docs/roadmap/PHASE_0_CLEANUP_ROADMAP.md
  docs/roadmap/PHASE_1_PORTS_ADAPTERS_ROADMAP.md
  docs/roadmap/PHASE_2_APPLICATION_LAYER_ROADMAP.md
  docs/roadmap/PHASE_3_HANDLER_REFACTORING_ROADMAP.md
  docs/roadmap/PHASE_4_INFRASTRUCTURE_ROADMAP.md
  docs/roadmap/PHASE_5_VALIDATION_ROADMAP.md
Due: none

refactor: remove PyO3 bindings and cli-spec (Phase 0, Sprint 0.5, Task 0.5.4)
  cli-spec/Cargo.toml
  cli-spec/TEST-REPORT.md
  cli-spec/cli.yaml
  cli-spec/spec.yaml
  cli-spec/src/lib.rs
  cli-spec/src/parser.rs
  cli-spec/src/types.rs
  cli-spec/src/validation.rs
  cli-spec/tests/README.md
  cli-spec/tests/spec_validation.rs
  crates/riptide-py/Cargo.toml
  crates/riptide-py/MANIFEST.in
  crates/riptide-py/PACKAGING.md
  crates/riptide-py/README.md
  crates/riptide-py/build.sh
  crates/riptide-py/examples/basic_usage.py
  crates/riptide-py/examples/spike_test.py
  crates/riptide-py/pyproject.toml
  crates/riptide-py/pytest.ini
  crates/riptide-py/riptide.pyi
  crates/riptide-py/src/document.rs
  crates/riptide-py/src/errors.rs
  crates/riptide-py/src/lib.rs
  crates/riptide-py/src/riptide_class.rs
  crates/riptide-py/test-wheel.sh
  crates/riptide-py/tests/test_performance.py
  crates/riptide-py/tests/test_riptide.py
  docs/roadmap/PHASE_0_CLEANUP_ROADMAP.md
Due: unittests, refactoring

feat: Phase 1 Sprint 1.1 - Ports & Adapters Foundation
  Cargo.lock
  crates/riptide-facade/src/facades/browser.rs
  crates/riptide-facade/src/lib.rs
  crates/riptide-fetch/Cargo.toml
  crates/riptide-fetch/src/fetch.rs
  crates/riptide-fetch/src/lib.rs
  crates/riptide-reliability/src/http_client.rs
  crates/riptide-reliability/src/lib.rs
  crates/riptide-reliability/tests/circuit_breaker_tests.rs
  crates/riptide-spider/Cargo.toml
  crates/riptide-spider/src/core.rs
  crates/riptide-spider/src/lib.rs
  crates/riptide-types/Cargo.toml
  crates/riptide-types/src/lib.rs
  crates/riptide-types/src/ports/events.rs
  crates/riptide-types/src/ports/features.rs
  crates/riptide-types/src/ports/idempotency.rs
  crates/riptide-types/src/ports/infrastructure.rs
  crates/riptide-types/src/ports/mod.rs
  crates/riptide-types/src/ports/repository.rs
  crates/riptide-types/src/reliability/mod.rs
  crates/riptide-utils/src/circuit_breaker.rs
  crates/riptide-utils/src/lib.rs
  docs/completion/PHASE_1_SPRINT_1.1_COMPLETION_REPORT.md
  docs/phase1_quality_validation_report.md
  tests/unit/quick_circuit_test.rs
Due: unittests, refactoring, Core Crates, API & CLI, Infrastructure

feat: Phase 1 Sprint 1.2 - Implement infrastructure adapters for Hexagonal Architecture
  Cargo.lock
  crates/riptide-cache/Cargo.toml
  crates/riptide-cache/src/adapters/mod.rs
  crates/riptide-cache/src/adapters/redis_idempotency.rs
  crates/riptide-cache/src/lib.rs
  crates/riptide-persistence/Cargo.toml
  crates/riptide-persistence/src/adapters/mod.rs
  crates/riptide-persistence/src/adapters/outbox_event_bus.rs
  crates/riptide-persistence/src/adapters/postgres_repository.rs
  crates/riptide-persistence/src/adapters/postgres_transaction.rs
  crates/riptide-persistence/src/lib.rs
  docs/architecture/phase1-sprint1.2-architecture-review.md
  docs/completion/PHASE_1_SPRINT_1.2_COMPLETION_REPORT.md
  docs/validation/PHASE_1_SPRINT_1.2_VALIDATION_REPORT.md
Due: unittests, refactoring, Infrastructure

feat: Complete Phase 1 - Hexagonal Architecture Implementation
  Cargo.lock
  crates/riptide-api/Cargo.toml
  crates/riptide-api/src/composition/builder.rs
  crates/riptide-api/src/composition/config.rs
  crates/riptide-api/src/composition/mod.rs
  crates/riptide-api/src/composition/stubs.rs
  crates/riptide-api/src/lib.rs
  crates/riptide-api/tests/integration/composition_tests.rs
  crates/riptide-cache/src/adapters/mod.rs
  crates/riptide-cache/src/adapters/redis_session_storage.rs
  crates/riptide-cache/tests/integration/redis_tests.rs
  crates/riptide-facade/src/facades/mod.rs
  crates/riptide-facade/src/facades/session.rs
  crates/riptide-fetch/src/adapters/mod.rs
  crates/riptide-fetch/src/adapters/reqwest_http_client.rs
  crates/riptide-persistence/src/adapters/mod.rs
  crates/riptide-persistence/src/adapters/postgres_session_storage.rs
  crates/riptide-persistence/src/adapters/prometheus_metrics.rs
  crates/riptide-persistence/tests/integration/adapter_tests.rs
  crates/riptide-types/src/error/riptide_error.rs
  crates/riptide-types/src/lib.rs
  crates/riptide-types/src/ports/events.rs
  crates/riptide-types/src/ports/health.rs
  crates/riptide-types/src/ports/http.rs
  crates/riptide-types/src/ports/metrics.rs
  crates/riptide-types/src/ports/mod.rs
  crates/riptide-types/src/ports/session.rs
  crates/riptide-utils/Cargo.toml
  crates/riptide-utils/src/health_registry.rs
  crates/riptide-utils/src/lib.rs
  docs/architecture/PHASE_1_ARCHITECTURE_REVIEW.md
  docs/architecture/phase1-sprints-1.3-1.5-design.md
  docs/completion/PHASE_1_COMPLETE.md
  docs/validation/PHASE_1_COMPLETION_VALIDATION.md
  docs/validation/VALIDATION_SUMMARY.md
Due: unittests, refactoring, Core Crates, API & CLI, Infrastructure

feat: Complete Phase 1 deferred work - Production readiness
  Cargo.lock
  crates/riptide-api/Cargo.toml
  crates/riptide-api/src/composition/builder.rs
  crates/riptide-api/src/composition/config.rs
  crates/riptide-api/src/composition/mod.rs
  crates/riptide-api/src/composition/stubs.rs
  crates/riptide-cache/Cargo.toml
  crates/riptide-cache/tests/helpers/mod.rs
  crates/riptide-cache/tests/helpers/redis_helpers.rs
  crates/riptide-cache/tests/integration/redis_tests.rs
  crates/riptide-persistence/Cargo.toml
  crates/riptide-persistence/migrations/0003_add_outbox_retry_tracking.sql
  crates/riptide-persistence/src/adapters/mod.rs
  crates/riptide-persistence/src/adapters/outbox_event_bus.rs
  crates/riptide-persistence/src/adapters/outbox_publisher.rs
  crates/riptide-persistence/src/adapters/prometheus_metrics.rs
  crates/riptide-persistence/tests/config_env_tests.rs
  crates/riptide-persistence/tests/helpers/mod.rs
  crates/riptide-persistence/tests/helpers/postgres_helpers.rs
  crates/riptide-persistence/tests/helpers/redis_helpers.rs
  crates/riptide-persistence/tests/integration/mod.rs
  crates/riptide-persistence/tests/outbox_publisher_tests.rs
  crates/riptide-persistence/tests/redis_integration_tests.rs
  crates/riptide-persistence/tests/redis_testcontainer_integration.rs
  docs/PostgreSQL-Feature-Gates.md
  docs/architecture/outbox-publisher-design.md
  docs/testing/INTEGRATION_TESTS.md
  docs/testing/INTEGRATION_TESTS_SUMMARY.md
Due: unittests, refactoring, API & CLI, Infrastructure

feat(facade): implement BackpressureManager for Phase 2 Sprint 2.3
  Cargo.lock
  crates/riptide-facade/AUTHORIZATION.md
  crates/riptide-facade/Cargo.toml
  crates/riptide-facade/src/authorization/mod.rs
  crates/riptide-facade/src/authorization/policies.rs
  crates/riptide-facade/src/facades/browser.rs
  crates/riptide-facade/src/facades/browser_metrics.rs
  crates/riptide-facade/src/facades/extraction.rs
  crates/riptide-facade/src/facades/extraction_authz.rs
  crates/riptide-facade/src/facades/extraction_metrics.rs
  crates/riptide-facade/src/facades/mod.rs
  crates/riptide-facade/src/facades/pipeline_metrics.rs
  crates/riptide-facade/src/facades/session.rs
  crates/riptide-facade/src/facades/session_metrics.rs
  crates/riptide-facade/src/lib.rs
  crates/riptide-facade/src/metrics/business.rs
  crates/riptide-facade/src/metrics/mod.rs
  crates/riptide-facade/src/workflows/backpressure.rs
  crates/riptide-facade/src/workflows/mod.rs
  crates/riptide-facade/src/workflows/transactional.rs
  crates/riptide-facade/tests/authorization_integration_test.rs
Due: unittests, refactoring, API & CLI

feat(facade): add business metrics for Phase 2 Sprint 2.4
  AUTHORIZATION_IMPLEMENTATION_SUMMARY.md
Due: none

feat: Complete Phase 2 - Application Layer Enhancements
  crates/riptide-facade/src/authorization/policies.rs
  crates/riptide-facade/src/facades/browser_metrics.rs
  crates/riptide-facade/src/facades/extraction.rs
  crates/riptide-facade/src/facades/extraction_authz.rs
  crates/riptide-facade/src/facades/session_metrics.rs
  crates/riptide-facade/src/metrics/business.rs
  docs/completion/PHASE_2_COMPLETE.md
Due: unittests, refactoring, API & CLI

fix(redis): consolidate Redis usage and fix circular dependency
  crates/riptide-cache/Cargo.toml
  crates/riptide-cache/src/adapters/mod.rs
  crates/riptide-cache/src/adapters/redis_rate_limiter.rs
  crates/riptide-cache/src/lib.rs
  crates/riptide-cache/src/manager.rs
  crates/riptide-cache/src/pool.rs
  crates/riptide-cache/src/redis.rs
  crates/riptide-fetch/Cargo.toml
  crates/riptide-fetch/src/fetch.rs
  crates/riptide-reliability/src/lib.rs
  crates/riptide-reliability/src/reliability.rs
  crates/riptide-types/src/lib.rs
  crates/riptide-types/src/ports/mod.rs
  crates/riptide-types/src/ports/rate_limit.rs
  crates/riptide-types/src/reliability.rs
  crates/riptide-utils/Cargo.toml
  crates/riptide-utils/src/lib.rs
  docs/completion/CIRCULAR_DEPENDENCY_FIX.md
  docs/completion/SPRINT_4.2_REDIS_CONSOLIDATION_COMPLETE.md
  docs/validation/REDIS_CONSOLIDATION_SPRINT_4.2_VALIDATION.md
Due: unittests, refactoring, Core Crates, Infrastructure

refactor(streaming): move business logic to facade layer
  crates/riptide-api/src/adapters/mod.rs
  crates/riptide-api/src/adapters/resource_pool_adapter.rs
  crates/riptide-api/src/adapters/sse_transport.rs
  crates/riptide-api/src/adapters/websocket_transport.rs
  crates/riptide-api/src/streaming/lifecycle.rs
  crates/riptide-api/src/streaming/metrics.rs
  crates/riptide-api/src/streaming/mod.rs
  crates/riptide-api/src/streaming/ndjson/handlers.rs
  crates/riptide-api/src/streaming/ndjson/helpers.rs
  crates/riptide-api/src/streaming/ndjson/mod.rs
  crates/riptide-api/src/streaming/ndjson/progress.rs
  crates/riptide-api/src/streaming/ndjson/streaming.rs
  crates/riptide-api/src/streaming/pipeline.rs
  crates/riptide-api/src/streaming/processor.rs
  crates/riptide-api/src/streaming/response_helpers.rs
  crates/riptide-api/src/streaming/sse.rs
  crates/riptide-api/src/streaming/tests.rs
  crates/riptide-api/src/streaming/websocket.rs
  crates/riptide-facade/src/facades/mod.rs
  crates/riptide-facade/src/facades/streaming.rs
  docs/completion/PHASE_3_SPRINT_4.3_COMPLETE.md
  docs/completion/PHASE_4_SPRINT_4.3_PHASES_5-6_COMPLETE.md
  docs/completion/SPRINT_4.3_PHASE_4_COMPLETE.md
  docs/completion/SPRINT_4.3_STREAMING_CLEANUP_COMPLETE.md
Due: unittests, refactoring, API & CLI

feat(resource): create ResourceFacade with port/adapter pattern
  crates/riptide-facade/src/facades/resource.rs
  crates/riptide-facade/src/metrics/performance.rs
  crates/riptide-types/src/error/riptide_error.rs
  docs/completion/PHASE_4_SPRINT_4.4_COMPLETE.md
  docs/completion/SPRINT_4.4_COMPLETION_PLAN.md
  docs/completion/SPRINT_4.4_RESOURCEFACADE_INTEGRATION.md
Due: unittests, refactoring, Core Crates, API & CLI

refactor(metrics): split business and transport metrics
  crates/riptide-api/src/metrics.rs
  crates/riptide-api/src/metrics_integration.rs
  crates/riptide-api/src/metrics_transport.rs
  crates/riptide-api/src/state.rs
  crates/riptide-facade/Cargo.toml
  crates/riptide-facade/src/facades/llm.rs
  crates/riptide-facade/src/metrics/business.rs
  crates/riptide-facade/src/metrics/mod.rs
  crates/riptide-facade/tests/authorization_integration_test.rs
  crates/riptide-facade/tests/integration_tests.rs
  docs/completion/SPRINT_4.5_BUSINESS_METRICS_MIGRATION.md
  docs/completion/SPRINT_4.5_FINAL_SUMMARY.md
  docs/completion/SPRINT_4.5_INTEGRATION_GUIDE.md
  docs/completion/SPRINT_4.5_METRICS_INTEGRATION_COMPLETE.md
  docs/completion/SPRINT_4.5_METRICS_SPLIT_SUMMARY.md
Due: unittests, refactoring, API & CLI
