Repository foofork/riptidecrawler: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, refactoring, Core Crates, Extraction & Processing, Browser Abstraction, API & CLI, Infrastructure, WASM Module

Revise project phase completion and focus details
  README.md
Due: none

Enhance README with features and architecture details
  README.md
Due: none

Update roadmap with completed Spider-chrome integration
  README.md
Due: none

Refine current focus section in README
  README.md
Due: none

feat(phase10): Add comprehensive tests and fix bugs, update roadmap
  crates/riptide-cli/src/api_wrapper.rs
  crates/riptide-extraction/src/strategies/metadata.rs
  crates/riptide-extraction/tests/metadata_extraction_tests.rs
  crates/riptide-reliability/tests/content_signal_tests.rs
  docs/COMPREHENSIVE-ROADMAP.md
  docs/cli-business-logic-analysis.md
  docs/cli-extraction-status-report.md
  docs/feasibility-assessment.md
  docs/feasibility-summary.md
  docs/research-gap-analysis-report.md
  docs/roadmap-analysis-report.md
  docs/test-coverage-gaps-report.md
  scripts/analyze-test-coverage.sh
Due: unittests, refactoring, Extraction & Processing, API & CLI, Infrastructure

feat(phase10.4): Add Domain Warm-Start Caching for engine selection
  crates/riptide-intelligence/src/domain_profiling/profiler.rs
  crates/riptide-reliability/src/engine_selection.rs
  crates/riptide-reliability/src/lib.rs
  docs/COMPREHENSIVE-ROADMAP.md
  docs/phase10-task10.4-design.md
  docs/phase10-task10.4-review.md
  tests/integration/domain_warm_start_tests.rs
  tests/integration/mod.rs
Due: unittests, refactoring, Extraction & Processing, Infrastructure

fix: Resolve 27 clippy and cargo check issues across codebase
  crates/riptide-browser-abstraction/tests/chromiumoxide_engine_tests.rs
  crates/riptide-browser-abstraction/tests/chromiumoxide_impl_tests.rs
  crates/riptide-browser-abstraction/tests/factory_tests.rs
  crates/riptide-browser-abstraction/tests/params_edge_cases_tests.rs
  crates/riptide-browser-abstraction/tests/spider_impl_tests.rs
  crates/riptide-browser-abstraction/tests/trait_behavior_tests.rs
  crates/riptide-browser/src/models/mod.rs
  crates/riptide-extraction/src/strategies/metadata.rs
  crates/riptide-headless/tests/error_handling_tests.rs
  crates/riptide-reliability/src/engine_selection.rs
  crates/riptide-reliability/tests/content_signal_tests.rs
  crates/riptide-stealth/benches/stealth_performance.rs
Due: unittests, refactoring, Extraction & Processing, Browser Abstraction, Infrastructure

fix: Resolve 12 test failures across spider components (P0+P1)
  crates/riptide-extraction/src/strategies/css_strategy.rs
  crates/riptide-extraction/src/strategies/regex_strategy.rs
  crates/riptide-spider/src/adaptive_stop.rs
  crates/riptide-spider/src/config.rs
  crates/riptide-spider/src/url_utils.rs
  docs/test-failure-analysis.md
Due: unittests, refactoring, Core Crates, Extraction & Processing

chore: Remove coverage gates and improve test reliability for release
  .codecov.yml
  .github/workflows/baseline-check.yml
  crates/riptide-streaming/tests/deepsearch_stream_tests.rs
Due: unittests, refactoring

fix: Resolve build errors and optimize CI/CD for error-free release
  .github/workflows/baseline-check.yml
  crates/riptide-browser-abstraction/tests/error_handling_tests.rs
  crates/riptide-pool/tests/concurrent_access_tests.rs
  crates/riptide-pool/tests/health_monitor_tests.rs
  crates/riptide-pool/tests/integration_tests.rs
  crates/riptide-reliability/src/engine_selection.rs
  crates/riptide-spider/benches/query_aware_benchmark.rs
  crates/riptide-spider/src/lib.rs
  crates/riptide-spider/src/query_aware.rs
  infra/docker/Dockerfile.api
  infra/docker/Dockerfile.headless
  playground/Dockerfile
Due: unittests, refactoring, Core Crates, Browser Abstraction, Infrastructure

feat: Update Docker and API with Phase 9/10/10.4 features - Production Ready
  COVERAGE_IMPLEMENTATION.md
  crates/riptide-api/src/handlers/engine_selection.rs
  crates/riptide-api/src/handlers/mod.rs
  crates/riptide-api/src/handlers/profiles.rs
  crates/riptide-api/src/main.rs
  crates/riptide-api/src/metrics.rs
  crates/riptide-api/src/routes/engine.rs
  crates/riptide-api/src/routes/mod.rs
  crates/riptide-api/src/routes/profiles.rs
  crates/riptide-api/src/state.rs
  docs/api-audit-report.md
  docs/research-gap-analysis-docker-api.md
  infra/docker/Dockerfile.api
  infra/docker/Dockerfile.headless
  tests/TESTING_REPORT.md
Due: unittests, refactoring, API & CLI

feat: Add comprehensive tooling - Makefile, Python SDK, OpenAPI specs
  Makefile
  docs/api/openapi.yaml
  sdk/python/QUICKSTART.md
  sdk/python/README.md
  sdk/python/examples/basic_crawl.py
  sdk/python/examples/domain_profiles.py
  sdk/python/examples/engine_selection.py
  sdk/python/examples/streaming_example.py
  sdk/python/pyproject.toml
  sdk/python/requirements.txt
  sdk/python/riptide_sdk/__init__.py
  sdk/python/riptide_sdk/client.py
  sdk/python/riptide_sdk/endpoints/__init__.py
  sdk/python/riptide_sdk/endpoints/crawl.py
  sdk/python/riptide_sdk/endpoints/engine.py
  sdk/python/riptide_sdk/endpoints/profiles.py
  sdk/python/riptide_sdk/endpoints/streaming.py
  sdk/python/riptide_sdk/exceptions.py
  sdk/python/riptide_sdk/models.py
  sdk/python/setup.py
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

docs: remove trek-rs references and update WASM documentation
  crates/riptide-extraction/src/chunking/html_aware.rs
  crates/riptide-extraction/src/chunking/regex_chunker.rs
  crates/riptide-extraction/src/chunking/sentence.rs
  crates/riptide-extraction/src/chunking/sliding.rs
  crates/riptide-extraction/src/css_extraction.rs
  crates/riptide-extraction/src/regex_extraction.rs
  crates/riptide-extraction/src/spider/dom_crawler.rs
  crates/riptide-extraction/src/strategies/metadata.rs
  crates/riptide-extraction/src/strategies/performance.rs
  crates/riptide-extraction/src/wasm_extraction.rs
  wasm/riptide-extractor-wasm/README.md
Due: unittests, refactoring, Extraction & Processing, WASM Module

fix(ci): resolve GitHub Actions workflow failures
  .github/workflows/docker-build.yml
  .github/workflows/refactoring-quality.yml
Due: none

fix(ci): add sccache installation to all GitHub Actions workflows
  .github/workflows/baseline-check.yml
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  .github/workflows/refactoring-quality.yml
  .github/workflows/safety-audit.yml
Due: none

fix: Resolve all Safety Audit violations and CI/CD issues
  .github/workflows/refactoring-quality.yml
  crates/riptide-pool/src/health.rs
  crates/riptide-pool/src/health_monitor.rs
  crates/riptide-streaming/src/config.rs
  crates/riptide-streaming/src/progress.rs
  crates/riptide-streaming/src/reports.rs
  crates/riptide-streaming/src/server.rs
  infra/docker/Dockerfile.api
  infra/docker/Dockerfile.headless
Due: unittests, refactoring, Core Crates

fix(riptide-api): resolve unused import and variable warnings in profiles.rs
  crates/riptide-api/src/handlers/profiles.rs
Due: unittests, refactoring, API & CLI

feat(ci): enhance GitHub Actions workflows with improved organization
  .github/workflows/api-validation.yml
  .github/workflows/baseline-check.yml
  .github/workflows/metrics.yml
  .github/workflows/rust-autofix.yml
Due: none

fix(ci): resolve cross-platform build and safety audit issues
  .cargo/config.toml
  crates/riptide-reliability/src/timeout/profile.rs
Due: unittests, refactoring, Infrastructure

fix(ci): disable sccache wrapper for CI compatibility
  .cargo/config.toml
Due: none

feat(ci): consolidate workflows for 30-50% faster CI and reduced noise
  .github/workflows/.archived-baseline-check.yml
  .github/workflows/.archived-refactoring-quality.yml
  .github/workflows/.archived-safety-audit.yml
  .github/workflows/ci.yml
  .github/workflows/metrics.yml
  .github/workflows/quality-gates.yml
  docs/WORKFLOW_GUIDE.md
Due: none

fix(safety): replace unwrap() with expect() in cache warming
  crates/riptide-cache/src/warming.rs
Due: unittests, refactoring, Infrastructure

fix(ci): remove RUSTC_WRAPPER env var conflicting with sccache-action
  .github/workflows/metrics.yml
  .github/workflows/quality-gates.yml
Due: none

fix(safety): restore expect() for VecDeque::remove() in cache warming
  crates/riptide-cache/src/warming.rs
Due: unittests, refactoring, Infrastructure

fix(safety): replace all unwrap/expect with proper error handling
  .claude/settings.json
  .claude/skills/agentdb-advanced/SKILL.md
  .claude/skills/agentdb-learning/SKILL.md
  .claude/skills/agentdb-memory-patterns/SKILL.md
  .claude/skills/agentdb-optimization/SKILL.md
  .claude/skills/agentdb-vector-search/SKILL.md
  .claude/skills/flow-nexus-neural/SKILL.md
  .claude/skills/flow-nexus-platform/SKILL.md
  .claude/skills/flow-nexus-swarm/SKILL.md
  .claude/skills/github-code-review/SKILL.md
  .claude/skills/github-multi-repo/SKILL.md
  .claude/skills/github-project-management/SKILL.md
  .claude/skills/github-release-management/SKILL.md
  .claude/skills/github-workflow-automation/SKILL.md
  .claude/skills/hive-mind-advanced/SKILL.md
  .claude/skills/hooks-automation/SKILL.md
  .claude/skills/pair-programming/SKILL.md
  .claude/skills/performance-analysis/SKILL.md
  .claude/skills/reasoningbank-agentdb/SKILL.md
  .claude/skills/reasoningbank-intelligence/SKILL.md
  .claude/skills/skill-builder/SKILL.md
  .claude/skills/sparc-methodology/SKILL.md
  .claude/skills/stream-chain/SKILL.md
  .claude/skills/swarm-advanced/SKILL.md
  .claude/skills/swarm-orchestration/SKILL.md
  .claude/skills/verification-quality/SKILL.md
  .claude/statusline-command.sh
  .gitignore
  CHANGELOG.md
  crates/riptide-cache/src/warming.rs
  crates/riptide-cache/src/wasm/aot.rs
Due: unittests, refactoring, Infrastructure

fix(safety): fix remaining unwrap/expect in riptide-workers
  .github/workflows/ci.yml
  Cargo.lock
  crates/riptide-browser/Cargo.toml
  crates/riptide-browser/src/cdp/mod.rs
  crates/riptide-workers/src/processors.rs
  crates/riptide-workers/src/queue.rs
  crates/riptide-workers/src/scheduler.rs
  crates/riptide-workers/src/service.rs
Due: unittests, refactoring, Browser Abstraction

fix(deps): clean up cargo-deny skip configuration
  deny.toml
Due: none

fix(safety): fix remaining unwrap in riptide-facade
  crates/riptide-facade/src/facades/extractor.rs
  crates/riptide-facade/src/facades/pipeline.rs
Due: unittests, refactoring, API & CLI

fix(safety): fix final unwrap/expect in streaming and intelligence
  crates/riptide-intelligence/src/providers/aws_bedrock.rs
  crates/riptide-intelligence/src/runtime_switch.rs
  crates/riptide-streaming/src/reports.rs
Due: unittests, refactoring, Extraction & Processing

chore(ci): consolidate workflow quality checks and optimize CI pipeline
  .github/workflows/ci.yml
  .github/workflows/metrics.yml
  .github/workflows/quality-gates.yml
Due: none

fix(safety): fix all remaining unwrap/expect violations across codebase
  crates/riptide-api/src/middleware/auth.rs
  crates/riptide-api/src/middleware/payload_limit.rs
  crates/riptide-api/src/middleware/rate_limit.rs
  crates/riptide-api/src/state.rs
  crates/riptide-api/src/streaming/response_helpers.rs
  crates/riptide-cli/src/commands/crawl.rs
  crates/riptide-cli/src/commands/domain.rs
  crates/riptide-cli/src/commands/extract.rs
  crates/riptide-cli/src/commands/extract_enhanced.rs
  crates/riptide-cli/src/job/manager.rs
  crates/riptide-cli/src/job/storage.rs
  crates/riptide-cli/src/job/types.rs
  crates/riptide-cli/src/metrics/mod.rs
  crates/riptide-cli/src/metrics/storage.rs
  crates/riptide-intelligence/src/background_processor.rs
  crates/riptide-intelligence/src/dashboard.rs
  crates/riptide-intelligence/src/failover.rs
  crates/riptide-intelligence/src/metrics.rs
  crates/riptide-intelligence/src/providers/aws_bedrock.rs
  crates/riptide-streaming/src/reports.rs
  crates/riptide-workers/src/main.rs
Due: unittests, refactoring, Extraction & Processing, API & CLI

Path conditions:
  unittests: any of: crates/, wasm/, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  refactoring: any of: crates/, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  Core Crates: any of: crates/riptide-types/**, crates/riptide-spider/**, crates/riptide-fetch/**, crates/riptide-security/**, crates/riptide-monitoring/**, crates/riptide-events/**, crates/riptide-pool/**, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  Extraction & Processing: any of: crates/riptide-extraction/**, crates/riptide-search/**, crates/riptide-intelligence/**, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  Browser Abstraction: any of: crates/riptide-browser/**, crates/riptide-browser-abstraction/**, crates/riptide-headless/**, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  API & CLI: any of: crates/riptide-api/**, crates/riptide-cli/**, crates/riptide-facade/**, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  Infrastructure: any of: crates/riptide-config/**, crates/riptide-cache/**, crates/riptide-reliability/**, crates/riptide-persistence/**, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  WASM Module: any of: wasm/riptide-extractor-wasm/**, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
