Repository foofork/riptidecrawler: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, refactoring, Core Crates, Extraction & Processing, Browser Abstraction, API & CLI, Infrastructure, WASM Module

docs: Add comprehensive riptide-security investigation report
  docs/09-internal/analysis/riptide-security-investigation-report.md
Due: none

feat(security): Integrate riptide-security into riptide-api
  crates/riptide-api/Cargo.toml
  crates/riptide-api/src/main.rs
  crates/riptide-api/src/middleware/mod.rs
  crates/riptide-api/src/middleware/pii_redaction.rs
  crates/riptide-api/src/middleware/security_headers.rs
  crates/riptide-api/src/security_config.rs
  crates/riptide-api/tests/security_integration.rs
  docs/09-internal/analysis/riptide-security-integration-summary.md
Due: unittests, refactoring, API & CLI

feat(security): Improve rate limiting to use API key instead of IP
  crates/riptide-api/src/middleware/rate_limit.rs
  docs/09-internal/analysis/rate-limiting-audit-improvements.md
Due: unittests, refactoring, API & CLI

docs: Add comprehensive Redis optional implementation roadmap
  docs/implementation-plans/redis-optional-roadmap.md
Due: none

chore: Remove obsolete CI/CD workflows
  .github/workflows/architecture-validation.yml
  .github/workflows/python-wheels.yml
Due: none

style: Apply cargo fmt to fix CI formatting checks
  crates/riptide-api/src/context.rs
  crates/riptide-api/src/health.rs
  crates/riptide-api/src/pipeline.rs
  crates/riptide-api/src/strategies_pipeline.rs
  crates/riptide-browser/src/launcher/mod.rs
  crates/riptide-extraction/src/unified_extractor.rs
  crates/riptide-facade/tests/live_crawl_integration.rs
  crates/riptide-fetch/src/adapters/reqwest_http_client.rs
  crates/riptide-fetch/src/lib.rs
  crates/riptide-reliability/src/circuit_breaker_pool.rs
  crates/riptide-reliability/src/reliability.rs
  crates/riptide-types/src/ports/extractor.rs
  crates/riptide-types/src/ports/mod.rs
  crates/riptide-types/src/ports/monitoring.rs
  crates/riptide-types/src/ports/resource.rs
  crates/riptide-workers/src/service.rs
Due: unittests, refactoring, Core Crates, Extraction & Processing, Browser Abstraction, API & CLI, Infrastructure

fix: Resolve test compilation errors from Phase 1 API changes
  crates/riptide-api/src/tests/event_bus_integration_tests.rs
  crates/riptide-api/src/tests/facade_integration_tests.rs
  crates/riptide-api/tests/enhanced_pipeline_tests.rs
  crates/riptide-api/tests/test_helpers.rs
Due: unittests, refactoring, API & CLI

style: Apply cargo fmt formatting to test files
  crates/riptide-api/src/tests/facade_integration_tests.rs
Due: unittests, refactoring, API & CLI

fix: Resolve placeholder test compilation errors in live_crawl_integration
  crates/riptide-facade/tests/live_crawl_integration.rs
Due: unittests, refactoring, API & CLI

docs: Add exhaustive Redis optional implementation analysis
  docs/analysis/redis-optional-breaking-changes-analysis.md
  docs/analysis/redis-optional-master-analysis.md
  docs/implementation-plans/redis-optional-test-suite-analysis.md
Due: none

fix: Replace deprecated AppState with ApplicationContext in all tests
  crates/riptide-api/tests/auth_integration_tests.rs
  crates/riptide-api/tests/auth_middleware_tests.rs
  crates/riptide-api/tests/auth_rate_limiting_tests.rs
  crates/riptide-api/tests/native_pool_integration.rs
  crates/riptide-api/tests/pdf_integration_tests.rs
  crates/riptide-api/tests/phase4b_integration_tests.rs
  crates/riptide-api/tests/profiling_endpoints_live.rs
  crates/riptide-api/tests/profiling_integration_tests.rs
  crates/riptide-api/tests/streaming_endpoints_integration.rs
  scripts/quality_gate.sh
Due: unittests, refactoring, API & CLI

fix(ci): align CI workflows with local quality gate configuration
  .github/workflows/api-validation.yml
  .github/workflows/ci.yml
Due: none

fix: Remove PII redaction placeholder and fix security headers integration
  Cargo.lock
  crates/riptide-api/src/middleware/mod.rs
  crates/riptide-api/src/middleware/pii_redaction.rs
  crates/riptide-api/src/middleware/security_headers.rs
  crates/riptide-api/src/security_config.rs
Due: unittests, refactoring, API & CLI

test: Fix security test infrastructure and mark integration tests appropriately
  crates/riptide-api/tests/security_integration.rs
  crates/riptide-api/tests/test_helpers.rs
Due: unittests, refactoring, API & CLI

docs: CRITICAL - Identify riptide-persistence architecture violations blocking Redis-optional
  docs/analysis/INVESTIGATION-SUMMARY.md
  docs/analysis/redis-persistence-architecture-violations.md
Due: none

format fix
  crates/riptide-api/src/middleware/rate_limit.rs
  crates/riptide-api/src/middleware/security_headers.rs
  crates/riptide-api/tests/security_integration.rs
  crates/riptide-api/tests/test_helpers.rs
Due: unittests, refactoring, API & CLI

ci: Enhance quality gate with auto-formatting and pre-push enforcement
  scripts/quality_gate.sh
Due: none

ci: Add setup-hooks.sh for team pre-push hook installation
  scripts/setup-hooks.sh
Due: none

quick plan to refactor riptide-persistance and decouple redis
  docs/investigations/redis-optional/01-architecture-violations.md
  docs/investigations/redis-optional/02-master-analysis.md
  docs/investigations/redis-optional/03-implementation-roadmap.md
  docs/investigations/redis-optional/README.md
Due: none

feat: Phase 0 hexagonal refactoring - eliminate Redis coupling in persistence layer
  Cargo.lock
  crates/riptide-cache/Cargo.toml
  crates/riptide-cache/src/adapters/mod.rs
  crates/riptide-cache/src/adapters/redis_coordination.rs
  crates/riptide-persistence/Cargo.toml
  crates/riptide-persistence/src/cache.rs
  crates/riptide-persistence/src/errors.rs
  crates/riptide-persistence/src/state.rs
  crates/riptide-persistence/src/sync.rs
  crates/riptide-persistence/src/tenant.rs
  crates/riptide-persistence/tests/persistence_tests.rs
  crates/riptide-persistence/tests/redis_integration_tests.rs
  crates/riptide-persistence/tests/redis_testcontainer_integration.rs
  crates/riptide-persistence/tests/state_persistence_tests.rs
  crates/riptide-types/src/ports/coordination.rs
  crates/riptide-types/src/ports/mod.rs
  crates/riptide-types/tests/cache_storage_contract_tests.rs
  crates/riptide-types/tests/contracts/IMPLEMENTATION_GUIDE.md
  crates/riptide-types/tests/contracts/README.md
  crates/riptide-types/tests/contracts/cache_storage_contract.rs
  crates/riptide-types/tests/contracts/coordination_contract.rs
  crates/riptide-types/tests/contracts/mod.rs
  crates/riptide-types/tests/contracts/session_storage_contract.rs
  crates/riptide-types/tests/coordination_contract_tests.rs
  crates/riptide-types/tests/session_storage_contract_tests.rs
  docs/architecture/CONTRACT_TESTS.md
  docs/architecture/PHASE0_COMPLETION_SUMMARY.txt
  docs/architecture/adr/001-distributed-coordination-port.md
  docs/architecture/distributed-coordination-trait.md
  docs/architecture/implementation-guide.md
  docs/cache-refactoring-summary.md
  docs/investigations/redis-optional/PHASE0-COMPLETION-SUMMARY.md
  docs/investigations/redis-optional/PHASE0-COMPLIANCE-SUMMARY.md
  docs/investigations/redis-optional/README.md
  docs/investigations/redis-optional/phase0-review-checklist.md
  docs/investigations/redis-optional/phase0-validation-report.md
Due: unittests, refactoring, Core Crates, Infrastructure

style: Auto-format code with cargo fmt
  crates/riptide-api/src/context.rs
  crates/riptide-api/src/handlers/health.rs
  crates/riptide-api/src/handlers/mod.rs
  crates/riptide-api/src/main.rs
  crates/riptide-cache/src/adapters/memory_coordination.rs
  crates/riptide-cache/src/adapters/mod.rs
  crates/riptide-cache/src/adapters/redis_coordination.rs
  crates/riptide-cache/src/factory.rs
  crates/riptide-cache/src/lib.rs
  crates/riptide-cache/src/storage_config.rs
  crates/riptide-persistence/src/cache.rs
  crates/riptide-persistence/src/errors.rs
  crates/riptide-persistence/src/state.rs
  crates/riptide-persistence/tests/persistence_tests.rs
  crates/riptide-persistence/tests/redis_testcontainer_integration.rs
  crates/riptide-persistence/tests/state_persistence_tests.rs
  crates/riptide-types/src/ports/coordination.rs
  crates/riptide-types/src/ports/memory_idempotency.rs
  crates/riptide-types/src/ports/memory_session.rs
  crates/riptide-types/src/ports/mod.rs
  crates/riptide-types/tests/cache_storage_contract_tests.rs
  crates/riptide-types/tests/contracts/cache_storage_contract.rs
  crates/riptide-types/tests/contracts/coordination_contract.rs
  crates/riptide-types/tests/contracts/session_storage_contract.rs
  crates/riptide-types/tests/coordination_contract_tests.rs
  crates/riptide-types/tests/session_storage_contract_tests.rs
Due: unittests, refactoring, Core Crates, API & CLI, Infrastructure

feat: Simplify Docker setup - single native build with optional Redis
  .github/workflows/docker-modes-test.yml.disabled
  docker-compose.minimal.yml
  docker-compose.simple.yml
  docker-compose.yml
  docs/deployment/DEPLOYMENT-MODES-SUMMARY.md
  docs/deployment/DOCKER.md
  docs/deployment/docker-modes.md
  docs/deployment/quick-start-docker.md
  scripts/test-docker-modes.sh
Due: none

fix: Resolve all compilation errors and clippy warnings from Phase 1
  crates/riptide-api/src/context.rs
  crates/riptide-api/src/handlers/render/strategies.rs
  crates/riptide-api/src/handlers/workers.rs
  crates/riptide-browser/src/pool/mod.rs
  crates/riptide-browser/tests/cdp_chromiumoxide_engine_tests.rs
  crates/riptide-cache/src/adapters/redis_coordination.rs
  crates/riptide-cache/src/factory.rs
  crates/riptide-cache/src/storage_config.rs
  crates/riptide-headless/tests/cdp_protocol_tests.rs
  crates/riptide-streaming/tests/streaming_tests.rs
  crates/riptide-types/tests/contracts/cache_storage_contract.rs
  crates/riptide-types/tests/contracts/coordination_contract.rs
  crates/riptide-types/tests/contracts/mod.rs
  crates/riptide-types/tests/contracts/session_storage_contract.rs
Due: unittests, refactoring, Core Crates, Browser Abstraction, API & CLI, Infrastructure

ci: Exclude examples and benchmarks from CI builds
  .github/workflows/ci.yml
  crates/riptide-headless/tests/cdp_protocol_tests.rs
Due: unittests, refactoring, Browser Abstraction

ci: Exclude examples/benchmarks from CI builds
  .github/workflows/ci.yml
  crates/riptide-headless/tests/cdp_protocol_tests.rs
Due: unittests, refactoring, Browser Abstraction

ci: Fix api-validation clippy to use --lib --bins
  .github/workflows/api-validation.yml
Due: none

style: Auto-format code with cargo fmt
  crates/riptide-api/src/context.rs
  crates/riptide-headless/tests/cdp_protocol_tests.rs
Due: unittests, refactoring, Browser Abstraction, API & CLI

ci: Fix api-validation clippy to exclude tests
  .github/workflows/api-validation.yml
Due: none

refactor: Remove outdated examples causing CI failures
  crates/riptide-persistence/examples/integration_example.rs
  crates/riptide-workers/examples/pdf_worker_example.rs
Due: unittests, refactoring, Infrastructure

fix: Resolve all-features compilation errors
  crates/riptide-api/src/context.rs
  crates/riptide-api/src/handlers/telemetry.rs
  crates/riptide-api/src/handlers/workers.rs
Due: unittests, refactoring, API & CLI

fix: Resolve all-features compilation errors (#14)
  crates/riptide-api/src/context.rs
  crates/riptide-api/src/handlers/telemetry.rs
  crates/riptide-api/src/handlers/workers.rs
Due: unittests, refactoring, API & CLI

chore: Update version to 0.5.0 across all crates
  Cargo.lock
  Cargo.toml
  crates/riptide-api/Cargo.toml
  crates/riptide-browser/Cargo.toml
  crates/riptide-cache/Cargo.toml
  crates/riptide-cli/Cargo.toml
  crates/riptide-config/Cargo.toml
  crates/riptide-events/Cargo.toml
  crates/riptide-extraction/Cargo.toml
  crates/riptide-facade/Cargo.toml
  crates/riptide-fetch/Cargo.toml
  crates/riptide-headless/Cargo.toml
  crates/riptide-intelligence/Cargo.toml
  crates/riptide-monitoring/Cargo.toml
  crates/riptide-pdf/Cargo.toml
  crates/riptide-performance/Cargo.toml
  crates/riptide-persistence/Cargo.toml
  crates/riptide-pool/Cargo.toml
  crates/riptide-reliability/Cargo.toml
  crates/riptide-search/Cargo.toml
  crates/riptide-security/Cargo.toml
  crates/riptide-spider/Cargo.toml
  crates/riptide-stealth/Cargo.toml
  crates/riptide-streaming/Cargo.toml
  crates/riptide-test-utils/Cargo.toml
  crates/riptide-types/Cargo.toml
  crates/riptide-workers/Cargo.toml
Due: unittests, refactoring, Core Crates, Extraction & Processing, Browser Abstraction, API & CLI, Infrastructure

ci: Optimize release workflow to eliminate duplicate builds
  .github/workflows/release-binaries.yml
Due: none

chore: Remove unsetup Claude Code workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

test: Add Docker Compose test environment and fix auth defaults
  crates/riptide-api/src/middleware/auth.rs
  docker-compose.test.yml
  docs/deployment/README.md
  infra/docker/Dockerfile.api
Due: unittests, refactoring, API & CLI

fix: Use UnifiedExtractor for native-first extraction strategy
  Cargo.lock
  crates/riptide-extraction/src/unified_extractor.rs
  crates/riptide-facade/src/facades/extractor.rs
Due: unittests, refactoring, Extraction & Processing, API & CLI

Path conditions:
  unittests: any of: crates/, wasm/, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  refactoring: any of: crates/, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  Core Crates: any of: crates/riptide-types/**, crates/riptide-spider/**, crates/riptide-fetch/**, crates/riptide-security/**, crates/riptide-monitoring/**, crates/riptide-events/**, crates/riptide-pool/**, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  Extraction & Processing: any of: crates/riptide-extraction/**, crates/riptide-search/**, crates/riptide-intelligence/**, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  Browser Abstraction: any of: crates/riptide-browser/**, crates/riptide-browser-abstraction/**, crates/riptide-headless/**, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  API & CLI: any of: crates/riptide-api/**, crates/riptide-cli/**, crates/riptide-facade/**, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  Infrastructure: any of: crates/riptide-config/**, crates/riptide-cache/**, crates/riptide-reliability/**, crates/riptide-persistence/**, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
  WASM Module: any of: wasm/riptide-extractor-wasm/**, but not: tests/, xtask/, examples/, benches/, **/tests.rs, **/test_*.rs, **/*_test.rs
